[2015-11-09 05:04] explodi opened #1 "areas created via addarea command can't be named with more than one word"
We should invert the parameters so the size goes first and the name second, to allow multi-word names such as 'satoshi city'.

[2015-11-23 22:15] Xeyler commented on #1
done... I think...

[2015-11-27 17:09] explodi opened #2 "if BitQuest plugin is not running, players should not be allowed to join"

[2015-12-08 00:18] #1 closed

[2015-12-08 00:18] explodi commented on #2
Perhaps this is done via an outside plugin. Closing for now

[2015-12-08 00:18] #2 closed

[2015-12-21 20:23] explodi opened #3 "create installation instructions for linux and windows"

[2015-12-21 20:43] chulini opened #4 "Teleport between home/spawn"

[2015-12-21 21:06] chulini opened #5 "Player can buy "AIR""

[2015-12-21 22:09] #5 closed

[2015-12-27 15:19] juanj opened #6 "Ender eye"
You can lose your ender eye if you use the compass and then before teleporting use the eye.

[2015-12-28 00:58] juanj commented on #6
This also happens if you use the eye quickly twice

[2015-12-30 00:08] juanj commented on #6
Fixed

[2015-12-30 00:08] #6 closed

[2015-12-30 00:14] juanj opened #10 "Chest protection code"
Where is the chest protection code?
I can't find it anywhere.

[2015-12-30 20:36] juanj commented on #10
Ok, i found it.
Is in EntityEvents.java  in "onPlayerInteract".
For some reason i can't find it with the search.

[2015-12-30 20:36] #10 closed

[2016-01-03 00:42] juanj commented on #4
Is this not possible with the ender eye and the compass?

[2016-01-03 00:43] Xeyler opened #14 "Land Claims permissions"
You can apparently place water/lava on claims that aren't yours. Also, lets do something about lighting claims on fire.

[2016-01-09 19:54] kordless opened #18 "Use Case: QR Codes Used for Server Revenue"
This is an epic (use case) issue and the output is additional issues which comprise the work that will need to be done to complete it.

*Use case*: Enjoy regular revenue for a given Minecraft server based on the demand for popular land plots. This is enabled by the use of QR code generators which are tied to a server's primary wallet.

Here's how this will work (combined steps and requirements):

[2016-01-16 00:08] #14 closed

[2016-01-16 00:09] explodi commented on #4
Yes.

[2016-01-16 00:09] #4 closed

[2016-01-16 00:23] explodi opened #19 "Levels appear to be lost when repairing or enchanting"
This is because of a conflict of the vanilla minecraft level system vs. the bitquest level system. Levels actually arent lost but it appears so.

[2016-01-16 00:26] explodi opened #20 "Creeper explosions are bothering players."
It was proposed that all explosions should be disabled or find a less dangerous method for terrain regeneration after explosion .

[2016-01-16 00:28] explodi commented on #20
Explosions can damage claimed plots, so are a way for grief

[2016-01-16 00:29] explodi opened #21 "Wallet GUI disappeared"

[2016-01-16 03:27] explodi opened #22 "overworld land is claimed also in the nether"
and probably in end too.

[2016-01-18 19:06] Xeyler commented on #21
?

[2016-01-18 19:33] explodi commented on #21
idk why it was fixed by itself. closing

[2016-01-18 19:33] #21 closed

[2016-01-18 19:41] Xeyler commented on #22
Fixed <3

[2016-01-18 19:42] #22 closed

[2016-01-18 19:42] Xeyler commented on #20
Fixed

[2016-01-18 19:42] #20 closed

[2016-01-18 19:43] Xeyler commented on #19
We should clean up our experience handling... We only need to cancel the player level change event, which we have done already. I'll get on cleaning up a little.

[2016-01-18 19:45] SnowyMiner commented on #19
Will clans be added soon?

On Monday, January 18, 2016, Xeyler <notifications@github.com> wrote:

[2016-01-18 19:49] SnowyMiner opened #23 "How are new players supposed to get Bits to claim land?"

[2016-01-18 20:00] Xeyler commented on #19
Perhaps... I think I'm gonna work on the compass before clans, though... Also, this channel is for bug discussion. Try reddit next time. <3

[2016-01-18 20:01] SnowyMiner commented on #19
O_o

On Monday, January 18, 2016, Xeyler <notifications@github.com> wrote:

[2016-01-19 10:47] #19 closed

[2016-01-28 23:04] explodi opened #24 "mods should be able to emergency /stop the server"

[2016-02-11 02:55] RagingMouser opened #25 "More things to do with bitcoin in game (also additional revenue sources)"
You can get it from monsters and spend it claiming land, but what else can you do with it? A few ideas:
- Allow users to auction off their property to each other. 24/48 hr auctions with the winner getting the property and the server taking a percentage.
- Rail/teleporter tax. Have a railway or teleporter system throughout the major populated portions of the map. Users who have made a one-time dona

[2016-02-11 03:33] Xeyler commented on #25
I've thought about the first idea for a while. I think its a good idea, but that it shouldn't be an auction. Players should just be able to offer an amount of bits for a piece of land, and I suppose we could apply a small tax if necessary.

The second idea is new, though. I suppose we could sell permanent tickets that players could use to gain access to rails. We may discuss it further.

The third

[2016-02-11 06:13] RagingMouser commented on #3
I've made a pull request to address the Linux side of things with both new setup instructions for Linux and a setup script to automate all required steps. #26

[2016-02-11 06:14] RagingMouser commented on #25
I see. The only reason I thought of backpacks is since the claiming process is not clear at first and new users will quickly run out of secure places to store their things.

[2016-02-11 20:48] RagingMouser commented on #24
What op level are mods currently? Is this a request for a configuration change or a way to let lower level ops have access to the /stop command?

[2016-02-11 21:17] RagingMouser opened #27 "Armor is not retained after death"
Inventory is retained but not armor. Is this intentional?

[2016-02-11 21:29] RagingMouser opened #28 "Can we have a suicide command?"
To teleport back to spawn takes time because we need to find a good way to die without damaging what we are wearing. If we had a suicide command we could easily teleport back to spawn without degrading our armour. If approved I can submit a pull request for this.

[2016-02-11 22:03] RagingMouser commented on #27
Nevermind. Must have just been damaged too much from the death. Drowning retains armor.

[2016-02-11 22:03] #27 closed

[2016-02-12 17:47] RagingMouser opened #29 "Anvil uses XP"
Not sure if this is a defect or intentional. Enchanting or combining enchantments effectively costs no XP.

Steps to reproduce:
1. Take note of your current XP level
2. Enchant a book/tool/weapon or combine enchanted items on the anvil.
3. Notice that your XP level has dropped like it would in Vanilla.
4. Force your XP to refresh by reconnecting to the server or killing a hostile mob.
5. Notice th

[2016-02-12 17:50] juanj commented on #29
Is intencional.
What needs to be fix is to not lose the xp.

[2016-02-12 19:00] RagingMouser commented on #24
I've implemented this functionality in an existing pull request  (#3).  Changeset is [here](https://github.com/RagingMouser/bitquest/commit/21bb795ad3ea5852d27c1d8f41134d443fdc7eb0).

[2016-02-12 20:12] #24 closed

[2016-02-12 20:13] #3 closed

[2016-02-12 21:33] RagingMouser commented on #3
Note: mods do not have direct access to the /stop command. Instead, mods of any level regardless of their op levels now have a /emergencystop command. It effectively does the same thing.

[2016-02-12 21:35] RagingMouser commented on #24
Note: mods do not have direct access to the /stop command. Instead, mods of any level regardless of their op levels now have a /emergencystop command. It effectively does the same thing.

[2016-02-12 22:03] RagingMouser commented on #29
OK. I'll make a pull request to prevent the loss of XP.

[2016-02-13 06:53] RagingMouser commented on #29
#30 addresses the enchanting table piece. I still need to fix the anvil piece.

[2016-02-15 20:29] explodi opened #31 "A piston can push block onto a claimed plot"
reported by DexFlex

[2016-02-17 21:57] explodi opened #32 "store land ownership on the blockchain"
Right now the BitQuest server(s) store land information on a REDIS server.

I am working on a way to store ownership data of game land chunks using the OpenAssets protocol, backed by the Bitcoin blokchain.

That means land owners will actually own a OpenAsset, making the cost of land ownership the mining fees to create the said asset. This can also enable the transfer of land ownership between pla

[2016-03-03 16:09] juanj opened #33 "Villagers can open protected doors"
Villagers can open wooden doors on protected land

[2016-03-04 13:15] explodi opened #34 "Have a public claim type, to keep public use, but prevent others from personally claiming it."

[2016-03-04 13:16] explodi commented on #34
(reported by burntone)

[2016-03-04 13:17] explodi opened #35 "Simple way to give up or un-claim land"
This would help sell plots or just abandon areas back to public use.  Original bits are still kept for server/loot and bitquest.  If Players should sell land, that would just be done on side with own wallets.  Simple ability to un-claim, just gives more options. (by Burntone)

[2016-03-04 13:59] juanj commented on #28
Well, we have the compass to do that.

[2016-03-04 14:15] explodi commented on #28
Closed, but feel free to re open @RagingMouser

[2016-03-04 14:15] #28 closed

[2016-03-04 23:18] StephenCasella commented on #28
Doesn't the compass take you to satoshi town?

On Fri, Mar 4, 2016 at 9:15 AM, explodi <notifications@github.com> wrote:

[2016-03-06 01:41] juanj commented on #35
This is prefered with a "sign" or with commands?
In general, is there any reason to avoid commands?

[2016-03-06 17:41] explodi commented on #35
we should avoid commands whenever is possible, as we aim to keep the server as close to the original minecraft experience.

some things like sending to outside wallets or banning players are implemented as commands because it's counter intuitive to do otherwise

[2016-03-13 18:19] juanj commented on #31
Also you can extract blocks with sticky pistons

[2016-03-14 22:46] juanj opened #40 "Change claim land special character"
In Minecraft for Mac is difficult (impossible?) to write the "^" in minecraft.

[2016-03-18 01:47] explodi opened #41 "make a cool MOTD and logo"

[2016-03-18 05:48] Xeyler commented on #41
I did this long ago
`\u00A76     [ \u00A76\u00A7lBit\u00A77\u00A7lQuest\u00A76 ]\n\u00A77             - Start your quest`

[2016-03-28 20:32] explodi opened #42 "/report command to report bad players"
ore report creates a slack notification to the mod team. two reports can lead to a temp ban.

[2016-03-30 23:58] Deathinflames opened #43 "Issue running the server as localhost"
I am a huge fan of BQ and was wondering if i could request some help with running BQ on a localhost.

I've cloned the repo and got a BQ.jar compiled and running, however i am getting an error that i cannot seem to figure out.

http://pastebin.com/qT4fE95J

Any help would be greatly appreciated! Thanks

[2016-04-04 16:06] DabTime opened #44 "nether wart"
Looks like there is a typo in the villagers. It says nether_warts instead of nether_wart. As a result, it won't show on the the villagers inventory.
![capture1](https://cloud.githubusercontent.com/assets/15329149/14254415/90e51652-fa5d-11e5-94df-1ff5b310d3be.JPG)

[2016-04-04 22:39] #44 closed

[2016-04-30 15:06] robmak3 opened #47 "Blocking specific claim names"
Can we block claim names like "[ The Wilderness ]", "[The Wilderness]" and "[ Anonymous]", and maybe other names with profanity? People are starting to troll me with wilderness and anonymous, and
names like "FUCK OFF" near spawn give a bad view of the server

[2016-04-30 16:43] Xeyler commented on #47
I fully support this idea. Players should have a freedom of speech, but maybe less so with land names as it's more permanent than saying it in the chat.

At the very least, we should block "The Wilderness." That one is pretty devious.

[2016-04-30 17:41] Airiellis commented on #47
It's not that big of a deal. This is an adult server and people will name their claim whatever they want it's their Bitcoin.

[2016-05-01 00:28] explodi commented on #47
The wilderness should have a different notification color; Perhaps claimed lands are yellow and Wilderness is gray

[2016-05-01 13:31] robmak3 commented on #47
Been thinking,  what about having land names like FUCK OFF farther from spawn,  or name censors in specific areas.  A wilderness color should also be there,  even if people find a way to get around wilderness censoring,  there is the color.

[2016-05-20 19:05] weex commented on #43
@Deathinflames did you ever get this working?

[2016-05-20 21:17] Deathinflames commented on #43
As a matter of fact i did, i used Linux to compile the .jar instead of windows. A Redis DB is also required, i had problems with the server assigning an address to players but that may have been fixed by now.

[2016-05-20 21:18] SnowyMiner commented on #43
:3

On Friday, May 20, 2016, Death <notifications@github.com> wrote:

[2016-05-21 16:29] explodi commented on #43
Hi friends, please check the new README.md and tell me if this is the solution you were looking for. I only tested this on my main computer but will try to do Windows ASAP. Once we all agree I think we can close this issue.

[2016-05-21 16:40] SnowyMiner commented on #43
:3

On Saturday, May 21, 2016, explodi <notifications@github.com> wrote:

[2016-05-24 16:13] Winglessss commented on #47
I'm against censorship in any form. If we ban the word FUCK, where do we stop? I would like to see a free world of expression, leave it to users to enable a personal profanity filter.  Design a toggle-able profanity filter in settings.

I do like the different color for"The Wilderness" though

[2016-05-24 16:15] explodi opened #54 "Entities inside private chunks are not protected"

[2016-05-24 16:21] Winglessss commented on #25
I was thinking a mail system would be great, mailboxes at properties, or ways to virtually send items alongside bits.

[2016-05-24 16:22] Winglessss commented on #25
Server would charge a fee of course

[2016-05-26 11:39] DiamondCardz opened #57 "% character in chat not properly escaped"
Using % as a chat message in-game breaks the chat script and reverts it to vanilla chat.

Could possibly be fixed by using message.replace("%%","%%%%"), converting the % to %% in the message and therefore escaping it.

[2016-05-26 11:40] DiamondCardz commented on #57
Using %% when messaging in-game fixes this issue, displaying one % in chat and escaping the character, so it is likely this fix would work.

[2016-05-26 14:05] DiamondCardz commented on #57
referencing #58 pull request

[2016-05-27 14:33] #57 closed

[2016-06-02 01:43] robmak3 opened #65 "We need a MUCH BETTER mob system"
I right now have had my last words with this mob system... It's a piece of shit, and really needs to be toned down, and be similar to last server.

Today, I joined, and spawned in dogetown today... Burntone says Hi, and starts to talk about the Mesa Line. All of a sudden, a creeper explodes and kills me while I'm replying to him. The mob system is getting so bad, can I just type a chat message wit

[2016-06-03 12:58] JuGre opened #66 "If it can help (or correct if wrong)..."
Hi everyone! Since I know basically nothing about multiplayer servers, and I just found out this info (don't laugh please haha!!), maybe it might help someone else, so I share it... Also I put it in "questions" because if ever there's something wrong with using some of those, it would be good to know...

Thanks! Have a nice day everyone!

http://minecraft.gamepedia.com/Commands

oups... I tried th

[2016-06-04 00:20] theraccoonbear opened #68 "Game client issues on death"
When I die and try to respawn, the process is stuck at 100% for a while and then I see a "Connection Lost / Kicked for flying (or related)" error message.  Exiting the server and attempting to reconnect  results in the process being stuck at 100% for a while again and then telling me "Connection Lost / Timed out".  To get back into the game I have to fully exit Minecraft and then reopen the game t

[2016-06-05 17:02] robmak3 commented on #66
Pls post on reddit.com/r/bitquest

[2016-06-05 17:12] JuGre commented on #66
OK thanks! sorry about that!

2016-06-05 13:02 GMT-04:00 robmak3 <notifications@github.com>:

[2016-06-05 17:54] juanj commented on #23
All the players can get Bits by killing mobs.

[2016-06-05 18:04] juanj commented on #35
This is implemented. This issue can be closed.

[2016-06-05 18:08] juanj commented on #54
The problem is not about animals but entities.
Entities need to be protected on protected land.

[2016-06-05 18:21] juanj commented on #66
Bitquest try to use the least amount of commands possible, so that page is not much help (but thanks for sharing).

You right click a [Compass](http://minecraft.gamepedia.com/Compass) to go to Satoshi Town and right click a [Ender Eye](http://minecraft.gamepedia.com/Eye_of_Ender) to go to your bed.

[2016-06-07 01:30] nullpilot opened #70 "Players can access trapped chests in claimed chunks"
As of right now, any player can access trapped chests on any other players claimed chunks.

The bug was brought to my attention by WeskerPrime, who also notified Burntone about the issue.

It should be a simple fix, so I gave it a go in PR #69. As you can tell from my profile I am new to this OSS thing, so I hope I went about this the right way.

I hope this helps!

[2016-06-07 06:51] SnowyMiner opened #71 "Horse goes invisible when getting off of it"
There's a bug where your horse with saddle or armor will go invisible but, you can still here and see it's particles. This happens when getting off of the horse and I must log off and log back on to see the horse again. This is only a minor bug but, should be fixed in the future. #80

[2016-06-07 06:56] SnowyMiner commented on #23
Yes but,  that takes time. We shouldn't expect new players to hide in a small underground base until they get the loot, the loot is also rare. Players should be given a kit or a free chunk to begin with and then they can buy more chunks later.

[2016-06-08 01:05] juanj commented on #23
Yes, I agree.
We should give players a free chunk plus an iron (or stone?) sword.
What you think about that @explodi ?

[2016-06-09 00:03] Winglessss commented on #23
Wouldn't giving people free land devalue  everyone's land?

[2016-06-10 16:51] andrelaszlo opened #74 "Mobs are sometimes wearing chainmail chestplate as a helmet."
It looks stupid and buggy, since the chestplate is rendered as an icon above the mob's head. It's the result of a copy-paste error, I suppose. Fixed it in #73.

[2016-06-10 23:18] andrelaszlo commented on #74
Example:

![Mob wearing chainmail chestplate as helmet](http://i.imgur.com/zVuRfQA.png)

[2016-06-13 00:32] SnowyMiner opened #75 "Trap Door's don't disappear when destroying the block they were attached to"
I found out then when you break the block a trap door is on, the trap door doesn't go into an entity like it should. Instead it just floats there. This link is an example: http://imgur.com/QalHQ93

[2016-06-13 00:34] Xeyler commented on #75
If it did, people would be able to grief by breaking a block to remove a trap door they don't have permission to remove.

[2016-06-13 00:35] SnowyMiner commented on #75
Oh I see, I also just found out this isn't a bug. Haha

[2016-06-13 00:36] #75 closed

[2016-06-17 13:44] RagingMouser commented on #65
If you were to summarize your complaint into an actionable suggestion, how would you recommend it be improved?

[2016-06-23 21:22] SnowyMiner opened #76 "We need mayors"
Bitquest 2 has only started a few months ago and we already have about 5 new towns! Emerald City, Sin City, Doge Town, Vanguard, and the new Mesa town. In this situation we should have mayors for each town. This will help prevent greifing and help newcomers find a settlement. I think the mayors should be the founder of each town. Such as Sin City's mayor could be PolarBear1000. I could be the mayo

[2016-06-23 21:45] Winglessss commented on #76
What role/function would these mayor's fulfill?

[2016-06-24 01:23] Winglessss commented on #76
I will take no part in any form of government! Bitcoin enables freedom from this type of ruling class!

[2016-06-25 15:12] Airiellis commented on #76
If you wanna call yourself a mayor of a town just do it. I'm not sure this is something that would ever need to be coded. Clans will help make this mayor idea more posable.

[2016-07-26 18:44] juanj commented on #70
You are right, trapped chests are not protected.
I do not think this was intentional but now I think, well, trapped chests are for traps and if a trap is in a not protected area don't make much sense. So being able to open (and active) a trap chest in a protected area is good for traps.
Also is good to have some kind of public chest

[2016-07-29 04:35] findbl0k opened #81 "Error resolving dependencies when building for first time using gradle.bat under windows 7 command line"
Hi,

Building on my machine (windows 7 ultimate x64) failed when running gradlew.bat from the windows command line. This was my first time build, and dependencies could not be properly resolved

[code]

I tried a build via the docker command line and the build completed successfully. Once I did this build in docker, I tried via the windows command line again, and it completed successfully because

[2016-08-17 06:36] devidao opened #85 "Server compiling error"
I am getting these errors, how can i resolve them??

![error](https://cloud.githubusercontent.com/assets/5411643/17726732/8d73f3e8-645d-11e6-9634-c25dec9dafe2.png)

[2016-08-17 09:58] Winglessss commented on #85
I believe you have to download BuildTools manually, move the file inside the folder you're working with and run Java -jar BuildTools.jar

[2016-08-17 11:09] theraccoonbear commented on #85
Consider trying the suggestions immediately following... `* Try:` and see what additional useful output you get.

[2016-08-17 16:35] devidao commented on #85
I tried --debug, but no more clear
![untitled](https://cloud.githubusercontent.com/assets/5411643/17744697/990e6112-64b1-11e6-88cc-c1b82a1146bc.png)

[2016-08-17 22:15] Winglessss commented on #85
I see you are using jdk1.8.0_91
the newest version is 1.8.0_102

Maybe???

[2016-08-18 13:14] devidao commented on #85
no, i updated but same result

[2016-08-18 17:12] Winglessss commented on #85
Have you tried downloading Buildtools Jar manually?
Download here: https://hub.spigotmc.org/jenkins/job/BuildTools/
Navigate to where you downloaded it, if you are using windows right click in folder and click on Git Bash here,
Download here: https://git-for-windows.github.io/
Then run java -jar BuildTools.jar inside Git-Bash

If that works you can go back to cmd line and run  the gradlew tasks.

[2016-08-19 16:35] explodi commented on #85
There was a mistake in the documentation. The setupWorkspace task must run in bash on all platforms. In windows, bash can be installed in a number of ways, but I've tested the git-scm bash and it works. I've changed the documentation and now this is the recommended way for building in Windows.

[2016-08-19 16:35] #85 closed

[2016-09-12 20:09] Airiellis opened #89 "Current Bitcoin block height number added to /wallet"
When you type in /wallet you see the current Bitcoin block height along with your balance and  address. User will be able to see if a block has cleared the blockchain or not. This would be a simple way to show our wallet is up to date with blockchain.

[2016-09-12 20:13] Airiellis commented on #89
It would be very interesting to hear in-game sound "thunder and anvil" every time a block was solved in the blockchain. This happens every 10 minutes give or take.

[2016-09-12 20:27] theraccoonbear commented on #89
What does "block has cleared the blockchain or not" mean?  Sorry, I'm not following.

[2016-09-14 10:55] Airiellis commented on #89
Your wallet is sucks until your latest transaction inside a block is solved in the blockchain. All Bitcoin goes through the blockchain. Do you own bitcoin?

[2016-09-14 10:58] Airiellis commented on #89
Having this feature would validate bitquest with real-time blocks. And other Bitcoin fans would be able to see what block we are on with blockchain. This is Burntone's idea. I thought it sounded good.

[2016-09-14 12:02] theraccoonbear commented on #89
So, you want to see a list of pending transactions -- those not included in a 'confirmed' block; for some definition of 'confirmed', like 6 subsequent blocks above the transaction's -- for the user's wallet, if I'm understanding correctly.  I took a look at the [BlockCypher API documentation](https://dev.blockcypher.com) and while there's no doubt a way to do this, I'm not seeing an obvious way to

[2016-09-14 12:18] theraccoonbear commented on #89
@Airiellis I created a patch to update the link and sent a pull request.  I guess we'll see.  If we decide to do an in-game display approach, it'll involve a fair bit of coding against that BlockCypher API.  Hopefully this is an acceptable solution for now.

[2016-09-14 13:45] Airiellis commented on #89
Yeah that looks good. I figured it would be hard to implement this. I will show this to Burntone.

[2016-09-19 01:33] theraccoonbear opened #92 "Doing chunk transfer with (possibly bad?) username crashes plugins"
Planting a sign on an owned plot with a `^transfer <username>^` can crash the plugins if the username lookup fails to correspond to a valid UUID.  Originally reported by Burntone, so these are details from our exchange.

[2016-09-28 01:46] explodi opened #95 "New versions of Spigot BuildTools are not supported."
It's impossible to compile the Docker image when using BuildTools build #53 or newer. I left a comment on a previous Spigot's JIRA here:

https://hub.spigotmc.org/jira/browse/BUILDTOOLS-39

[2016-09-28 03:04] #95 closed

[2016-09-28 03:09] #70 closed

[2016-09-28 03:10] #66 closed

[2016-09-28 03:11] Xeyler commented on #68
@theraccoonbear, has this problem persisted?

[2016-09-28 03:34] Xeyler commented on #18
This certainly is an interesting idea, and maybe some of the things mentioned could be implemented over time, but, for now, it's a little too complex. We don't want the learning curve to be too steep for new players.

[2016-09-28 03:34] #18 closed

[2016-09-28 03:35] Xeyler commented on #23
Giving each player their first plot free doesn't sound like a bad idea to me, perhaps it should be discussed?

[2016-09-28 03:38] #81 closed

[2016-09-28 03:39] #74 closed

[2016-09-28 03:45] Xeyler commented on #76
I think mayors would fall under the clans category. A mayor would be equivalent to a clan leader. This will be discussed when we get to clans.

[2016-09-28 03:47] Xeyler commented on #71
I've seen some very strange things with horses. Since I've started using 1.10, I don't see the entities riding horses. I believe this issue has to do with either Minecraft itself, or Spigot.

[2016-09-28 03:47] #71 closed

[2016-09-28 04:11] Xeyler opened #96 "Chat Filtering"
I believe strongly in the freedom of speech, but there will always be times when a player decides to join the server and just repeat profanity, or simply spam the chat too much.

I also believe that we cannot in any way limit any player's ability to say whatever they want.

These two points considered, I think the only way we can give people a filter is by letting each player toggle their own filt

[2016-09-28 04:59] #43 closed

[2016-09-28 05:17] Xeyler commented on #41
Here's the website's favicon resized to 64x64(the size a minecraft server icon needs to be).
![server-icon](https://cloud.githubusercontent.com/assets/11788703/18901421/fc757832-8507-11e6-9138-a75d4b157254.png)

It was resized from 48x48, so it would obviously look a little better if you could get a 64x64 version. Anyways, the server will accept any png file that has a resolution of 64x64, is name

[2016-09-28 11:05] theraccoonbear commented on #68
No, I should have closed this before.  It was causing issues when I first started, but hasn't in some time now.

[2016-09-28 11:05] #68 closed

[2016-09-28 11:07] theraccoonbear commented on #23
I think that's a reasonable idea, provided we flag that free plot in some way and allow it to be auto-abandoned if the player doesn't stick around.  If there's no investment on the player's part, we'll have people join, claim a plot, and leave after an hour and never return, leaving claimed chunks that are forever out of circulation.

[2016-09-28 13:40] #47 closed

[2016-10-04 20:09] jpchip opened #97 "Display land ownership on map.bitquest.co"
It would be really cool to be able to see land ownership on the map or a version of the map.

It appears the map is generated via [Minecraft Overviewer](https://overviewer.org/), which has the ability to [add custom Points of Interest in a config file](http://docs.overviewer.org/en/latest/signs/#manual-pois). Could this config file, which is in Python. query the redis database to get the chunk own

[2016-10-05 01:26] CubeFromSpace opened #98 "Server down"
When I try to join, it gives me the common "Java connection exeption will not allow further connection" I'm sure it actually says something else

[2016-10-05 14:24] Xeyler commented on #97
I think this is a great idea, but I admittedly don't have much experience with the Minecraft Overviewer. It does look like you did your homework well, though.

I am concerned with how these points of interest are displayed, though. If I'm correct, they're displayed as small icons on the map, but if we had the map make one icon for every claim, it would be not only informative, but also very hard t

[2016-10-05 15:25] Xeyler commented on #92
After a quick investigation in this issue, I concluded that the UUID checker class we're using correctly handles invalid usernames. I tried transferring a plot to a player that doesn't exist, and it didn't crash BitQuest.

Perhaps this problem is related to something else?

[2016-10-05 16:29] Xeyler commented on #31
Fixed in #39

[2016-10-05 16:29] #31 closed

[2016-10-05 16:30] Xeyler commented on #35
Fixed in #36

[2016-10-05 16:30] #35 closed

[2016-10-05 18:18] jpchip commented on #97
Thanks for the feedback. I totally agree we need to allow users to toggle the layer, and to limit the zoom.

I did a little more research, and I see two possible approaches (2 is my favorite):

1. I found an existing bukkit plugin, [PoiManager](https://dev.bukkit.org/bukkit-plugins/poimanager/), which does a lot of what would be trying to do, but isn't quite right. It gave me an idea though how we

[2016-10-05 19:20] Xeyler commented on #97
This is very interesting. You've certainly worked on it quite a bit, and I think it can work.

If I'm correct, you want a service that responds to HTTP requests with JSON containing all the chunk ownerships within certain coordinates.

Honestly, this really excites me. If we could get this service running, we could allow anyone to access it, enabling client side mods that can display information a

[2016-10-05 22:38] jpchip commented on #97
You are correct, I want a service that responds to HTTP requests with JSON containing all the chunk ownerships within certain coordinates. That is what I was really asking if it was even possible.

I am sure we can get the overlays to appear, I've worked with the Google Maps API quite a bit and looking at how the [Wynncraft code](https://map.wynncraft.com/js/territoryLocations.js) works it's prett

[2016-10-06 02:21] Xeyler commented on #97
I've taken a look at the map with some overlays, and while it looks OK, I think there might be a way to make the overlays more accurate.

I posted an issue on the Minecraft overviewer GitHub, explaining this issue, and the response was interesting. Take a look at the discussion [here](https://github.com/overviewer/Minecraft-Overviewer/issues/1332).

Apparently, he's using the slime chunks visualiz

[2016-10-06 02:59] CounterPillow commented on #97
You're using the region feature currently, not overlays.

Overlays get rendered out at map render time into image tiles, and are a separate layer that can be overlaid onto the image tiles.

[2016-10-06 03:17] jpchip commented on #97
@CounterPillow, is it possible to define a custom rendermode to generate an overlay from a list of chunk boundaries (eg. `{"startX":0,"startZ":0,"endX":16,"endZ":-16}`) at map render time then? I can't figure out how one would do that looking at the [docs](http://docs.overviewer.org/en/latest/config/#the-rendermode-primitives).

[2016-10-06 03:31] CounterPillow commented on #97
@jpchip no, you have to write your own overlay rendermode in C.

[2016-10-06 03:58] Xeyler commented on #97
@CounterPillow, thanks so much for taking a look at this discussion.

I must admit that I'm not personally very familiar with the overviewer, but would it be possible to, at render, generate many different overlays with many different colors(All in C, obviously)?

Optimally, we would want to be able to display other data about the overlayed parts in a way like POIs, but if that's not possible, we

[2016-10-06 03:59] #76 closed

[2016-10-06 04:11] CounterPillow commented on #97
Yes, and one overlay can also have multiple colours (such as the mineral overlay)

Pretty sure overlays work on a per-block basis, so you can't easily do things like add text to them. Using POIs for that might be the better approach.

[2016-10-06 12:56] jpchip commented on #97
So to recap, I guess we are down to:

1. just using markers to show the land ownership,
2. javascript based overlays that don't line up well and need a JSON service, or
3. forking Minecraft Overviewer and writing a custom renderer in C that takes bounding coordinates so that the overlays are generated at map run time directly on the blocks, then adding markers on top with the names.

[2016-10-06 20:55] Xeyler commented on #97
Yup, that's where we are as of now.

I think the best thing we can do is configure a custom renderer to make accurate overlays. Then in JavaScript, we can define POIs at the South-West corners of each claim

If I read the documentation correctly, POIs can take Y coordinates as well, so if we include the full coordinates of the highest block in the south-west corner of each chunk, we can avoid the

[2016-10-08 03:17] #98 closed

[2016-10-09 13:38] CubeFromSpace opened #99 "Cobweb drops (minor issue)"
When I mine cobwebs with shears, it drops cobweb. If in regular Minecraft, it should drop 1 string.

[2016-10-15 00:41] jpchip commented on #97
Based on our discussions I forked Minecraft Overviewer and started work on a custom rendermode primitive to color overlays on given bounding coordinates:

https://github.com/jpchip/Minecraft-Overviewer/tree/overlay-bounds

The idea is in the config file you can define a list of (((minx, minz, maxx, maxz), ...), (r, g, b, a)) tuples for coloring boundaries. That way we list out all the chunks a use

[2016-10-15 04:56] Xeyler commented on #99
"Cobwebs can be obtained by clipping them with shears. It will also drop itself if broken with a sword enchanted with Silk Touch. It will drop 1 piece of string if broken with a (non-Silk Touch) sword, if water touches or flows over it, or if a piston pushes it. It will drop nothing when broken using anything else."(See [Cobwebs on the Minecraft Wiki](http://minecraft.gamepedia.com/Cobweb))

It lo

[2016-10-15 04:56] #99 closed

[2016-10-15 05:01] Xeyler commented on #54
Armor stands and item frames fall under the entity category, so we should probably protect entities on claimed land.

[2016-10-15 05:23] Xeyler commented on #97
Impressive work, @jpchip.

I must admit, though, that I don't know much of Python or C either. I've suggested a BitQuest API to @explodi, and he has said that we may be able to set something up with enough time. Of course, doing this with maximum security will be a challenging and perhaps lengthy process, but hopefully it can be effective.

In the meantime, **we may be able to use REDIS** from the

[2016-10-16 04:40] explodi commented on #97
I will start working on a API prototype this weekend. I can also upload the docker container used to display bitquest map

Cristian

[2016-10-18 06:45] explodi opened #100 "check that /transfer address is a bitcoin address and not the same as user address"
It might sound stupid but this is a common error (probably because of a copy-paste mess) Also. I would be a nice opportunity to send the user a joke about sending his money to the same wallet.

[2016-10-18 06:52] explodi commented on #97
Here is the source code (docker image) we are using for the BitQuest map.

https://github.com/bitquest/overviewer-docker

Feel free to send a pull request. It was meant to be a "general purpose" overviewer image for Minecrafters but perhaps we can fork it and create the bitquest-overviewer repository (that talks to the future BitQuest API)

If you guys think this is the way to go. Let me know

[2016-10-18 07:43] Xeyler commented on #100
What does sending bitcoin to yourself do?

[2016-10-18 08:44] Xeyler commented on #97
Well, @explodi, this whole discussion is probably TL;DR by now, but we mentioned that it would require us to create a custom rendermode in C to get the high-quality renders for less confusing overlays. It looks like the overviewer docker you set up just has scripts, so we may need to completely fork the original minecraft overviewer source into our own repository, but @CounterPillow would probably

[2016-10-18 08:56] Xeyler commented on #29
Perhaps we should disable exp orb spawning as well? They don't really matter, but they are kind of an aesthetic nuisance to me because they don't do anything, and should therefore be removed.

[2016-10-18 12:21] CounterPillow commented on #97
Just create a patch and apply it to upstream git HEAD. Saves you from keeping the fork up to date all the time.

[2016-10-20 17:30] jpchip commented on #97
I believe I have the bounding box overlay in Minecraft Overviewer working. If anyone would like to code review before I merge into my local master, the pull request is here:

https://github.com/jpchip/Minecraft-Overviewer/pull/1

Once merged, I will do a pull request to try to get it added to the original project, if they are interested. Otherwise we could follow CounterPillow's advice, or just fo

[2016-10-20 17:56] Xeyler commented on #97
Hey, it looks like you've got some pretty nice looking overlays working, @jpchip. After a quick look, it seems like this should do pretty well.

Hopefully, I'll have more time later to check the code a little more. For now, do you think it would be possible to easily implement a JSON response from a BitQuest API to specify overlays? Hopefully, we'll be able to get a simple API up and running soon.

[2016-10-21 02:48] jpchip commented on #97
That I'm not so sure about, not sure even what language to do it in! I understand the end goal would be a script to call the BitQuest API and parse the results to generate a config file as [documented here](http://docs.overviewer.org/en/latest/faq/#i-want-to-put-manual-poi-definitions-or-other-parts-of-my-config-into-a-seperate-file), which would define the list of bounding boxes AND corner marker

[2016-10-21 11:48] theraccoonbear commented on #97
An API built into the BQ code is appealing, but really this could just be a one-off script that talks to Redis and generates the needed land ownership data and is run on a cron, or whatever scheduler is currently used, when the current Overviewer process runs every day.  @explodi may have thoughts on the best way to incorporate this into the map generation workflow.

[2016-10-21 16:00] Xeyler commented on #97
I suspect integration with REDIS would be best because it already holds the information for claims. I think we should mostly be worried about security, though. If we do access REDIS for claim details, it will need to be in a completely secure way because it's also where we store sensitive bitcoin information.

That said, I'm not very familiar with the minecraft overviewer, C, or JavaScript, so I d

[2016-10-23 19:20] Burntuno opened #101 "Allowing the Witherboss"
Maybe Witherboss is disabled.  If explosive damage is off, and now many players are higher level, Witherboss might be a good challenge for the players.  Maybe there is a way to set a level cap on it to prevent an impossibly high level one from spawning.  Having no experience fighting this boss, any other suggestions welcome.  Enabling it now, would be just in time for Halloween and great start to

[2016-10-23 20:20] Burntuno commented on #97
The idea of a map overlay of claimed land is great.  One thing to worry about is, should players know who owns what?  Being ambiguous like Bitcoin, gives the Bitquest World more mystery.  An overlay of just the plot names would keep this more enigmatic and give players a chance to reveal as needed.

[2016-10-23 20:38] Burntuno opened #102 "Moderators could reset mobless areas to allow towns and regions to have a battle zone."
This would be better to keep simple and still have same decay.  It would let the Moderator inspect area to make sure it is open for public use not just a personal grind factory.  Most enhancements to code should be automatic in design so if neglected for periods of time, things can settle into approved states.  Overworld mob burnout is the final default state, until all could be examined and reset

[2016-10-24 04:48] Burntuno opened #103 "Possible way to reduce burden and fund Miner Fee Wallet."
Not sure if possible, but this could help.  Keep the Loots, Plots and Shops all on the Miner Fee Wallet.  Have the Player to Player in game wallet transactions (like when a Player uses name as address) use the Miner Fee Wallet, like currently.  When a player uses an actual Bitcoin address, signaling an external transfer, charge a fixed 200 bit withdrawal Miner Fee.  Somehow use Blockcypher's Fee e

[2016-10-24 17:37] Airiellis commented on #101
Agree. This is easy to help mods have events.

[2016-10-24 17:45] Airiellis commented on #102
This would help Satoshi area so much. New players come to the game and can't find mobs for loot and items.

[2016-10-24 17:46] Airiellis commented on #103
Great idea.

[2016-10-25 22:37] CubeFromSpace commented on #23
That works, but maybe it would be possible to lower the levels that a zombie pigmen spawns at. I can hardly get anything from the nether because all the pigmen are around lvl 40. It's insanely hard to get loot.

[2016-10-25 22:38] CubeFromSpace commented on #99
Oh :P sorry about that.

[2016-10-25 22:41] CubeFromSpace commented on #103
I agree. It further reinforces the economy of the server, and adds an atmosphere of real world taxes. And yeah, it will support the server.

[2016-10-25 22:44] CubeFromSpace commented on #100
This could be added by checking the recipient and the sender of the bitcoins. Then check for a match, and prevent matched transactions. (I'll leave the coding to you, I can only just read the Java, which I don't know well)

[2016-10-26 07:01] Burntuno opened #104 "Alternate level progress indication."
This idea is from player coolred60.  Since normal level progress indication is broken from the custom leveling, maybe we can have a /levelprogress (or just /level) command.  This could show current level status and how much more needed to next level.  Maybe add a few other statistics also to make it more useful.

[2016-10-28 18:15] Burntuno opened #105 "Villager can take your item and it is lost."
If a villager shop is open, and an item is accidently placed into the shopping inventory slots, it is lost.  There must be a way to prevent item from being placed in this area, weather dragged and dropped there, or accidently shift clicked there.  Reported incident is from pressing 1 and it took item from hot bar to villager Inventory.  This would need to be avoided also.

[2016-10-28 18:20] Burntuno opened #106 "Increase view distance."
Leading animal, riding carts, flying Eltra, etc. have way less noticeable lag.  Maybe the view distance can be increased.   This could create a better game experience and maybe draw some players back to the game.

[2016-10-28 20:27] CubeFromSpace opened #107 "Server domain expired (non code related)"
The domain for Bitquest has expired and the server can't operate.
(neither can the website or map)

[2016-10-30 17:30] #107 closed

[2016-10-30 17:32] CubeFromSpace opened #108 "Events (suggestion)"
Like in terraria, random events that occur, like maybe slimes spawning rapidly or zombies spawning everywhere. Of course, it can be more that those two

[2016-11-03 00:59] juanj commented on #105
The only case when this happens is if you have the mouse cursor in one of the villager empty slots and press one of your items shortcut.
Right now the logic of the villager market is handled in `InventoryClickEvent` and all the event that are not buying something are canceled. But the case described above is not a click event.

[2016-11-03 01:33] juanj opened #109 "Add loots chests"
Add a special type of chest with rewards that players can only take once. This will be good for parkour, dungeons, and treasure hunt.

[2016-11-03 21:53] CubeFromSpace commented on #109
Fun idea: make them fall from the sky as tagged chests that disappear after 12 hours, and they reward bitcoin instead of items

[2016-11-03 21:59] CubeFromSpace commented on #41
You can just use Minecraft color codes (§) and do that file suggestion Xeyler made. Pretty simple

[2016-11-03 22:00] theraccoonbear commented on #109
@CubeFromSpace where would these BTC be coming from? Will you be donating them?

[2016-11-03 22:01] CubeFromSpace commented on #23
Also now I suggested about loot chests in #109

[2016-11-03 22:02] CubeFromSpace commented on #109
Maybe if I can get an external wallet first. Then I would totally donate.

[2016-11-03 22:05] theraccoonbear commented on #109
Wallets are easy and cheap to get.  Coins to put in them?  Less so.

[2016-11-03 22:05] CubeFromSpace commented on #105
It could be that you need to add a click event cancel for anything other than from the villager inventory.

[2016-11-03 22:12] CubeFromSpace commented on #109
I intended to convert USD to BTC

[2016-11-03 22:13] CubeFromSpace commented on #101
This could be allowed, but I think it should eventually despawn if not killed

[2016-11-03 22:14] CubeFromSpace commented on #104
This could also be in the thing that says your Balance on the side of the screen

[2016-11-03 22:17] CubeFromSpace commented on #29
I think the solution could be to disable the event of exp loss before the anvil event is completed. Then it would prevent the loss of exp

[2016-11-03 22:18] CubeFromSpace commented on #54
This is logical, but might be laggy because of checking every entity for its position and finding the owner and only allowing the owner to use it and whatnot.

[2016-11-03 22:25] CubeFromSpace opened #110 "Add back end (suggestion)"
I know that the end was disabled at some point, but is it possible to re-add it? If not, why was it removed and why can't it be re-added?

[2016-11-03 22:46] Xeyler commented on #54
That would be an inefficient way to handle it.

Perhaps a better solution could be to check if an entity has been affected by a player, get the affected entity's location, then see if the play has permission over the chunk containing the entity's location.

That way, it only checks when an entity is affected, and it only checks one entity at a time.

[2016-11-03 22:49] theraccoonbear commented on #109
My point is that the money has to come from somewhere, and without an indefinite benefactor/patron (will that be you?) the well will dry up.  Case in point: ongoing issues with the fee wallet and stuck transactions.

[2016-11-03 22:50] CubeFromSpace commented on #54
Lol yeah, I'm not the best coder here. (Sorry)

[2016-11-03 22:51] CubeFromSpace commented on #109
I'm not trying to be rude, but maybe it can be funded regularly like mob loot.

[2016-11-03 22:59] Xeyler commented on #54
That's ok. Everyone here has started somewhere, @CubeFromSpace.

At first, it may seem that coding is simply memorizing methods of conventions, but it's also figuring out how to fit those methods together in the best way. It'll get easier as you practice.

[2016-11-03 23:01] CubeFromSpace commented on #54
I know more about C++ and arduino stuff than Java.

[2016-11-03 23:12] CubeFromSpace commented on #96
That is a hilarious idea, but people might think the person is crazy. I have some suggestions for this: use the asterisks, but add: <Player> meant to say <blah thingy thing>. Also, you could make it check every chat before sending it, and do anything to the stuff to be altered (the syntax is thought out for you🙂)

[2016-11-04 05:35] Burntuno commented on #109
In Bitquest, all treasures have been provided by players and not just created magically with creative.  Having chests like that sounds cool, but I'm not sure how they will get the prizes.  Also I don't like any automatic way of obtaining server funds.  Fighting mobs is just part of the lottery type distribution forcing players to do the time.  Having users obtain bits from chests or selling to vil

[2016-11-04 05:37] Burntuno commented on #110
End is planned for future use.  Of course, future may never turns out as intended.  Once we have something decided, it may be of use.

[2016-11-04 05:40] Burntuno commented on #108
Yes, it would be good to have more Boss type mobs to fight in BQ.  Like low level mobs in Satoshi Sewers, regions with giant or small mobs, or town arenas the spawn all kinds of mobs.

[2016-11-04 05:41] Burntuno commented on #106
Even one more level of increase would be a great percentage of change compared to how low it is now.

[2016-11-04 05:43] Burntuno commented on #104
Good idea.  Real-estate on screen is very pricey for some, so keeping anything added streamlined is recommended.

[2016-11-04 05:49] Burntuno commented on #103
I have a good feeling that if API is flexible to include 2 parts in a TX and one of them was a fixed 200 bit split off the main transaction directed at the Fee Wallet, Fee wallet would adjust to proper fee and create new output with remainder to use for other transactions.  This is over my head, but I'm trying to be creative.  Currently Fee Wallet is well funded and maybe it shouldn't have too man

[2016-11-04 05:51] Burntuno commented on #101
I think withers spawn fine.  They did work for Airellis.  I need to run more tests.  It is just hard to collect the heads.  I will update this soon.

[2016-11-04 05:54] Burntuno commented on #54
Protecting entities is not an issue to regular players.  They understand the risks and hide the stuff the could be abused.  I sometimes wish we were able to kill things on claimed land.  It would let players interact more around towns or even Satoshi.

[2016-11-04 05:56] Burntuno commented on #34
This is something that we could all use right away.  One idea is to be able to unlock your claim to all with something like ^public^ on sign and if needed putting ^private^ would reverse.  If a plot is ^public^, claiming would still be prevented.

[2016-11-04 06:01] Burntuno commented on #32
Possible problem could be a forced change of your game address, which happens, and then loosing access to all the land purchased before new address is assigned.  Also if blockchain explorer servers are down, land protections might not be in sync so fluidly.  Current system seems to have good flexibility with transfers and renames.  One can transfer often as needed with no chain interactions.

[2016-11-04 06:04] Burntuno commented on #29
Anvil does not take your Level.  Indicator and level number usually has issues and bugs because of your client not being modified for Bitquests custom system.  A few different things like killing mobs, relogs, etc. resets the level to correct value.  We definitely don't want to get rid of EXP orbs.  They are useful to the many players who have Mending gear now.  Keep the orbs, for sure.

[2016-11-04 13:55] theraccoonbear commented on #106
I think the biggest issue is that increasing view distance requires keeping more chunks loaded (if I understand the mechanism correctly), and the number of chunks loaded is the square of the view distance.  The computational requirements increase significantly with each chunk of view distance increasing since those chunks are fully loaded and updating (mobs, plant growth, water flow, redstone tick

[2016-11-04 13:55] theraccoonbear commented on #106
hmm, no table support I guess :(

[2016-11-04 13:58] theraccoonbear commented on #103
I think fees for **every** transfer of funds (land buy, villager purchase, P2P, to external wallet) should be completely paid for by the player.  Nothing else is sustainable long-term.  All in-game prices should be increased to reflect the actual costs, or someone else (like you or I) are subsidizing others' play.

[2016-11-04 14:00] theraccoonbear commented on #54
Agreed.  We provide what are effectively locks on doors.  If you lock your valuables (livestock included) in a building, it is protected, just like IRL.  Protecting all entities on claimed land is silly.  If someone pursues a "wild" animal onto claimed land, it suddenly would be owned by the land owner, and that's silly.  FWIW, if you can shoot an arrow at an animal, you can kill it, in my experie

[2016-11-04 14:03] theraccoonbear commented on #32
@explodi wouldn't this be significantly slower, having to hit some external API or looking up on the blockchain?  I would thing the only performant solution would involve caching info about chunk ownership (in something like REDIS) in which case you're right back where you started :P

[2016-11-04 14:04] theraccoonbear commented on #29
Agreed, in particular re: mending since I have a few items now.

[2016-11-04 18:08] juanj commented on #109
I agree.
I was thinking that the loot chests can give rare items not bits.

[2016-11-04 18:12] theraccoonbear commented on #109
@CubeFromSpace my comment was in regards to the original sense of the word Patron, not the current fadish crowdfunding site.  I don't believe either would work.

[2016-11-05 02:17] juanj commented on #104
What you guys think about this?
![2016-11-04_21 15 16](https://cloud.githubusercontent.com/assets/1958175/20026940/fa8a21c8-a2d3-11e6-9b3b-7c3f5a7dde18.png)

[2016-11-05 16:05] juanj commented on #104
In #111 I created a PR for this. In that PR I also fixed the xp system.

So now I'm thinking... this still necessary? Because the player xp bar now is accurate.
Maybe we can think in other kind of info to show in the scoreboard.

[2016-11-05 17:23] Burntuno commented on #104
Nice. Idea was good, but fixing level indication was main goal.  Does it still accurately show for the higher level players? like 30 or 50?  That is when most wrong.  Score board simple and small is best for now, until another good idea comes up.  Thanks Juanj!

[2016-11-06 02:09] CubeFromSpace commented on #110
Ok, maybe it can be used for grinding, like Nether. There apparently used to be an End, and I actually think you told me that on the server.

[2016-11-06 02:09] CubeFromSpace commented on #104
That looks nice 👍

[2016-11-06 02:10] CubeFromSpace commented on #101
Maybe on Beta server with some admins.

[2016-11-06 02:11] CubeFromSpace commented on #29
I experimented a little, and I think it has to to with vanilla Minecraft anvil behavior.

[2016-11-06 02:12] CubeFromSpace commented on #109
Ok, I'm so stupid :P

[2016-11-06 02:16] CubeFromSpace commented on #108
I think that mobs aren't in the sewers because of the protected zones where mobs don't spawn. Maybe some specific zones, such as x y z sectors instead of x z sectors, could be identified as "dungeon zones" where special mobs spawn.

[2016-11-06 02:18] CubeFromSpace commented on #105
Now I experimented some, and I saw that it wouldn't let me move my inventory items at all. (Actually it did once, that was when I had a 4000ms ping.)

[2016-11-06 02:19] CubeFromSpace commented on #96
That sounds like a hilarious idea.

[2016-11-06 02:23] CubeFromSpace commented on #32
I think it could just scan the blockchain upon server start or restart, and load land ownership afterward, and then upload every new land claim onto the blockchain, and that would load instantly rather than upon the server start.

[2016-11-06 19:06] Burntuno opened #113 "Need the 200 bit Minimum added back to code."
There needs to be a way to stop and warn players that wallet minimum is 200 bits.

[2016-11-07 18:07] juanj commented on #54
Perhaps animals can be left unprotected, but protect some specific entities like armor stands, item frames, lead knots and paintings (and ender crystals?).

[2016-11-08 04:01] CubeFromSpace commented on #113
That makes sense, maybe check the transaction amount and cancel transactions less than 200b

[2016-11-14 12:54] CubeFromSpace commented on #106
So, how much is the view distance now, and how much could it handle?

[2016-11-14 12:58] CubeFromSpace commented on #101
Now that I've found out, the wither is enabled, as a player bk216 was spawning some and killing them. This issue is invalid.

[2016-11-14 13:11] theraccoonbear commented on #106
It's fairly low now.  maybe 4 or 5?  how much it could handle, I don't know.  Maybe @explodi or someone more familiar with the system it runs on could comment.

[2016-11-14 13:13] theraccoonbear commented on #106
Also, my math was wrong before. I believe it's actually worse...

a view distance of 1 requires 9 chunks to be loaded
a view distance of 2 requires 16 chunks to be loaded
a view distance of 3 requires 25 chunks to be loaded
a view distance of 4 requires 36 chunks to be loaded
a view distance of 5 requires 49 chunks to be loaded
a view distance of 6 requires 64 chunks to be loaded
a view distance o

[2016-11-15 01:34] #108 closed

[2016-11-16 02:21] juanj opened #115 "Suggestion. Use username for transactions"
What you guys think about being able to use the /transfer command with a username?

For example `/transfer 200 explodi` .
Then the plugin search for the uuid of 'explodi' and then search the address in the DB.
This will make transactions between players easier

[2016-11-16 02:24] Burntuno commented on #115
It is already like that and many users do it.

[2016-11-16 02:25] Burntuno commented on #115
But we do need 200 bits hard coded into transfers, with some kind of warning when they use less.

[2016-11-16 02:32] juanj commented on #115
Oh, my bad xD. What happens with the lower than 200 bits transactions?

[2016-11-16 02:32] #115 closed

[2016-11-16 02:42] Burntuno commented on #113
Main reason is Miner Fees.  Miner Fees cost 60 to 150 bits for 1 transaction, no matter the amount.  If players start sending 20 bit transactions, costing server more than 60 bits, it would drain Fees Wallet.  Since loots are 200 bits and claims are 200 bits, it just makes sense to keep minimum transfers at 200 bits also.  In another Issue, it is suggested we make a player paid 200 bit fee on off

[2016-11-16 02:57] CubeFromSpace commented on #113
This is related somewhat to your other issue #103. And I agree with both of these issues, because I think miner transaction fees should be payed for by players.

[2016-11-18 20:39] juanj opened #117 "Limit number of transactions (for day?)"
We need to add some kind of limit to the transactions, so the players can not spam the wallet.

[2016-11-19 21:05] CubeFromSpace commented on #117
I thought there was one already, but I could be wrong

[2016-11-19 21:08] CubeFromSpace commented on #102
Maybe allow it to spawn from spawners, and hide the spawners in the sewers and nether dungeon

[2016-11-19 21:48] theraccoonbear commented on #117
If we build fees into every transaction and make the sender pay them, all of these problems go away.

[2016-11-20 16:04] CubeFromSpace commented on #117
That is what seems to be the biggest problem. We just need to make miner fees player funded.

[2016-11-20 18:43] CubeFromSpace opened #118 "We need to add a transaction fee"
The wallet fees are really seeming to be a huge problem. This is also part of issues #103, #113, and #117. I also wanted to notify @explodi of this

[2016-11-21 23:04] CubeFromSpace commented on #109
At this point, the issue isn't really valid anymore, I guess.

[2016-11-22 04:12] juanj commented on #109
Why not?
This isn't implemented yet, so this can stay open for further discussion.

[2016-11-22 07:18] medievilminer opened #119 "Enable "clans""
Would be good if a select group of players could mine the same land claim, pehaps using an invite buy origonal claim holder placing additional sign on the claim that allows another player use the claim?

eg..
^add/ player1^

Would be good for team builds and of course would be nice to be able to remove the access too.

eg. ^/piss off player1^

:)

[2016-11-22 10:42] Tracker6310 commented on #119
This is a repeat of #67 , it's already been looked at and the code is in a pull request for review/testing

[2016-11-22 13:47] theraccoonbear commented on #119
@Tracker6310 #67 has been closed, so it might be worth having an open ticket if this is still something that needs to be done.

[2016-11-22 23:17] CubeFromSpace commented on #109
My idea of bit loots from it was crushed, and burnt explained how the item loots are unfair

[2016-11-22 23:18] CubeFromSpace commented on #119
There is no PVP on bitquest.

[2016-11-23 02:28] juanj commented on #109
Enchanted armor? Swords? Elitras? Rare blocks? I think of many possible reward

[2016-11-23 03:09] CubeFromSpace commented on #109
Read the above comment by burntuno

[2016-11-23 16:30] theraccoonbear commented on #119
@CubeFromSpace this pertains to land ownership, not PVP.

[2016-11-24 14:35] CubeFromSpace commented on #119
Ok, there is actually a pull request for this, similarly named.

[2016-11-27 18:30] #118 closed

[2016-11-27 18:32] CubeFromSpace opened #121 "Beta server seems unprotected..."
I think that the beta server needs more protection, because I walked onto the server and changed my game mode, gave myself obsidian, etc. I know this is seperate from the main server, but I'm afraid this could be exploited somehow.

[2016-11-27 18:33] CubeFromSpace commented on #119
I think there is a /clan command, but I could be wrong. Someone should test that.

[2016-11-27 18:40] #121 closed

[2016-11-27 18:41] CubeFromSpace commented on #121
I decided that maybe I shouldn't make this issue

[2016-11-27 18:42] CubeFromSpace commented on #110
I think it is just that the portal is closed, I'll leave this to the developers

[2016-11-27 18:42] #110 closed

[2016-11-27 18:43] CubeFromSpace commented on #106
Can the server take more than 4 or 5? I think this could be tested on the Beta server

[2016-11-27 18:45] CubeFromSpace commented on #109
Burntuno was saying how the loots in bitquest are funded by players. Not made magically.

[2016-11-27 18:53] theraccoonbear commented on #106
I think beta would not be a great test for this.  At a minimum, if it doesn't have the same hardware or virtualization specs, and doesn't have roughly the same number of users playing, you're not going to get a good picture of how increased chunk loading (and thus tick updating) affects the server.  If nothing else, this is also an instance-specific configuration issue, and not a code issue, so it

[2016-11-28 21:19] CubeFromSpace opened #122 "Exp bar (minor issue)"
The experience bar sometimes shows itself slightly filled. I read the code and realized that that wasn't supposed to happen.

[2016-11-28 21:20] theraccoonbear commented on #122
I believe this is already addressed by #104

[2016-11-29 01:08] CubeFromSpace commented on #122
Ok then.

[2016-11-29 01:08] #122 closed

[2016-12-24 15:12] CubeFromSpace commented on #119
I think there is a /clan command, I never tried it, but maybe it is meant for team land ownership

[2016-12-24 15:19] CubeFromSpace commented on #113
I might be able to make a PR, if someone would explain the syntax of wallet.java to me XD

[2016-12-24 17:04] CubeFromSpace commented on #105
Maybe prevent hot bar changes. If hotbar updates are cancelled in villager menu, maybe you can't use keyboard shortcuts

[2017-01-08 15:09] CubeFromSpace commented on #119
Earlier, I tried it, it said "Internal error" or something like that, so it's not ready yet.

[2017-01-08 15:13] CubeFromSpace commented on #41
I know this sounds like a crude and cheap way to make a MOTD, but why not just add a simple MOTD plugin from bukkit (or similar page) to the server? It usually works well, and can be animated.

[2017-01-08 15:17] CubeFromSpace commented on #23
Most likely, you could possibly transfer 200 bits into the wallet, and in the same way @theraccoonbear suggested (sort of), flag that player and take back the 200 bits if he/she decided to quit

[2017-01-08 19:34] explodi commented on #119
@CubeFromSpace did you try on beta.bitquest.co ? It's not on release yet

[2017-01-08 20:38] CubeFromSpace commented on #119
Beta.bitquest.co is showing the "session was forcibly closed by remote host" error.

[2017-01-08 20:40] CubeFromSpace commented on #33
Maybe just prevent villagers from opening doors.

[2017-01-08 21:28] explodi commented on #119
I was able to connect to beta.bitquest.co and create the "ewoks" clan

[2017-01-10 00:10] CubeFromSpace commented on #119
Not me, maybe it's my client.

[2017-01-10 22:47] CubeFromSpace commented on #113
Can anyone tell me how to PR? I've never done it before, and I have a solution to this.

[2017-01-14 03:46] CubeFromSpace opened #123 "What if emeralds were used again?"
I've never been on Bitquest 1 before, but I've heard of emeralds being the currency, in item form. What if, emerald ore was banned, and emeralds were used for less that 200b transactions? This would probably involve BTC to emerald transactions, maybe through villagers... (maybe green-robed ones only?)

[2017-01-14 10:26] pURPLESON opened #124 "I cant join the server"
Hi i cant join the server i have used the ip play.bitquest.co but it says cant connect to the server what is the problem??

[2017-01-14 18:01] CubeFromSpace commented on #124
Don't make an issue for this. The server crashed a couple days ago

[2017-01-14 18:02] CubeFromSpace commented on #124
It takes a week to fix because the reason is usually corrupted data

[2017-01-14 22:49] CubeFromSpace commented on #123
Even better idea -

[2017-01-14 22:49] #123 closed

[2017-01-15 19:56] pURPLESON commented on #124
i never been on it and i will close this issue after you reply ok

[2017-01-16 01:27] CubeFromSpace commented on #124
Sure. (Also, im sorry, that was kind of rude.)

[2017-01-20 01:20] CubeFromSpace commented on #124
Seriously, the issue needs closed. The server is back up.

[2017-01-20 01:23] CubeFromSpace opened #125 "What if we revive emeralds?"
Emeralds apparently used to be bits back then, and I (along with @burntuno) thinks that it is a good idea. I have another unique idea, that mob loots are a random amount of emeralds (I'm thinking maybe this:
Emeralds = level * random number between 1 and 32 / 10 + 1. And maybe bonus emeralds for level 50 zombies which are VERY ANNOYING.)

[2017-01-20 01:25] CubeFromSpace commented on #65
This sorta happened recently in the 1.11.2 update. Now over world is level 1-3, and nether has less level 40 pigmen.

[2017-01-21 04:30] CubeFromSpace commented on #125
A couple things we could do is lower emerald costs, as it is 32 emerald blocks (288 emeralds) for 350. The value of an emerald is ~0.8 bits. If the price is lowered to 300, an emerald is then worth 0.96 bits. (Of course, This would need to be approved by @explodi)

[2017-01-22 00:36] juanj commented on #104
Since the xp bar is now working, this is no longer necessary.

[2017-01-22 20:10] #104 closed

[2017-01-25 22:58] Tracker6310 opened #126 "Player can re-join when kicked from clan"
When a player accepts invite to join a clan, invite is not deleted.
If player is kicked from clan at some point, invite is still in redis, allowing them to rejoin at any time

[2017-01-26 01:02] CubeFromSpace commented on #126
Wait... clans are working?

[2017-01-26 01:05] CubeFromSpace commented on #109
This issue is still no longer useful. Seriously, @Burntuno said that they are not created magically in creative, and that they are all player funded

[2017-01-26 02:20] theraccoonbear commented on #126
@CubeFromSpace I've not been on for some time, but I believe clans have been in place on beta for some time.  I've seen it discussed on Slack.

[2017-01-28 17:37] pURPLESON commented on #124
how

[2017-01-28 17:37] #124 closed

[2017-01-28 20:54] CubeFromSpace commented on #124
Ok, no longer up, but EXPECT DOWNTIME!! The server is not completely stable! We don't. Need an issue!

[2017-01-31 00:15] CubeFromSpace commented on #54
@explodi New idea, are you able to count all of those entities as passive mobs?

[2017-01-31 17:16] CubeFromSpace commented on #125
And... nobody responds. (Disappointing...)

[2017-01-31 17:18] CubeFromSpace commented on #42
Is there a way to connect the plugin to slack? Also, maybe reports are stored on your REDIS server.

[2017-01-31 17:20] CubeFromSpace commented on #119
Earlier (before this series of crashing and unhappiness,) I tried it on the beta. It also showed an internal error.

[2017-01-31 17:21] CubeFromSpace commented on #96
I think spamming is already filtered, and a warning is sent to the player too.

[2017-01-31 17:22] CubeFromSpace commented on #41
@explodi I know this sounds like a crude and cheap way to make a MOTD, but why not just add a simple MOTD plugin from bukkit (or similar page) to the server? It usually works well, and can be animated.

[2017-01-31 17:23] theraccoonbear commented on #125
And what would a player do with an emerald once they have it (purchased from villagers or found in the wild)?  If you're suggesting that people be able to exchange their emeralds for bits (e.g. actual Bitcoin) then we're back into one of your ideas that requires an endless supply of Bitcoin, and I have yet to hear a plausible explanation for where those would come from.

[2017-01-31 17:23] CubeFromSpace commented on #126
Isn't there a way to delete the REDIS info from the plugin? Maybe that will help

[2017-01-31 17:24] CubeFromSpace commented on #125
This used to happen in Bitquest 1. But if you want me to close the issue, then fine.

[2017-01-31 17:28] CubeFromSpace opened #127 "We need a solution to this crashing"
We need to know exactly how crashes happen, and find a way to reverse it. Any ideas?

[2017-01-31 17:30] theraccoonbear commented on #125
I don't have the ability to close the issue, nor would I, but there are continually suggestions that overlook the fact that Bitcoin is not free, so if it's being given to players we need to know where that's coming from.

@CubeFromSpace: Where would the bits given to the players in exchange for emeralds come from?

If you can answer that, I think the idea is fine.  If not, we do not have a balance

[2017-01-31 18:02] CubeFromSpace commented on #125
Apparently, you not only exchanged them for BTC, but you also could buy them. I would say that maybe the BTC to buy them could be used for selling them. Additionally, we could possibly make the sell price lower than the buy price, so you would need more emeralds to get the same value. Unless you say that makes no sense, which is fine. I will gladly pay a few thousand bits if it's necessary, unless

[2017-01-31 18:07] Xeyler commented on #125
The problem with allowing emeralds to represent bits is security.

In classic BitQuest, when bits were transferred into the game, all bits were tossed into one wallet. When emeralds, representing bits, were withdrawn, they were transfered from BitQuest's single wallet.

What happens if there's a glitch that creates more emeralds? What happens when more emeralds are found in the world than there ar

[2017-01-31 18:14] CubeFromSpace commented on #125
What if emeralds couldn't be found naturally? Maybe that would reduce the chance of bankruptcy, along with a daily maximum...?

[2017-01-31 18:17] CubeFromSpace commented on #125
Never mind. Just tell me, is this the stupidest idea you've heard? If so, I'll just close this issue

[2017-01-31 18:25] theraccoonbear commented on #125
I don't think this is a stupid idea per se, but I think the details of how it would work really need to be ironed out.

[2017-01-31 18:26] CubeFromSpace commented on #125
It's just that my idea was crushed, like all my other ones. I really just want to help the server.

[2017-01-31 18:35] Xeyler commented on #125
Personally, I was sad to see the emerald system go. I think if there were a good way to implement it again, I'd support it.

The biggest problem is that the idea isn't completely fleshed out and thought through. We're just laying out the pros and cons, we're not putting down the idea. It's all just part of the process. If you're hoping for more productive results, I'd recommend adding a bit more d

[2017-01-31 18:40] CubeFromSpace commented on #125
I'm sorry, my comments aren't very organized. I might need to think of a way to make emeralds induplicable.

Maybe, if emerald ore is taken out of the world, and prohibited to mine or place. That might reduce duplication.
Another thing, if Some infinite source of BTC was possible, maybe it would be easier to manage.

[2017-01-31 20:12] theraccoonbear commented on #125
I think a lot of these not-yet-fleshed-out concepts might be better workshopped in Slack than here on GitHub, honestly.  The ideas themselves are fine, but I don't think a GitHub repo's issues section is really the right place for spitballing at this level.

[2017-01-31 20:19] CubeFromSpace commented on #125
Ok, except explodi never really responds to me, and I literally can't figure out how to do a PR anyway.

[2017-01-31 20:26] theraccoonbear commented on #125
I suspect explodi is fairly busy.  I have gotten responses from him when I directly message on Slack, but it often takes a while.

To do a PR you will need to fork the official BitQuest repo, make your changes, commit/push them to your fork of the repo, and then create a pull request from the new changes (your feature or master branch) on your repo, to master on the official BitQuest repo.  I don'

[2017-01-31 20:29] CubeFromSpace commented on #125
Ok, thank you. I can also fix a few other issues.

[2017-02-01 13:34] CubeFromSpace commented on #127
I've heard that some of them involve the BQ wallet crashing. @explodi how does it crash.

I've also heard about land ownership causing some crashes, involving the REDIS servers.

[2017-02-06 22:46] juanj commented on #119
That internal errors happened because of the use of the `/clan` command with incorrect number of arguments. This is solved in # 130

[2017-02-07 23:54] juanj commented on #125
The current system has also a security flaw. The private keys of the server and all the players are stored on the DB. This is bad in two ways.
1. Players are not in control of their funds. For example, when BitQuest is down, all funds are locked in.
2. If BitQuest server get compromised, all funds (server and players) are lost.

A solution to protect player funds will be to not have player wallets

[2017-02-08 00:41] theraccoonbear commented on #125
This is how the vast majority of online exchanges (e.g. Coinbase) work: they warehouse the wallet, specifically the private key required for making payments.  IMO, anyone putting more money into, or just generally storing more money in, a BitQuest wallet than they're willing to lose (either permanently or access temporarily) is being foolish.  I think the complexity and overhead to doing transacti

[2017-02-08 02:51] CubeFromSpace commented on #125
One problem: @explodi doesn't seem to be responding to anyone, and he hasn't reopened BQ, it's been at least a week, and he's even visited slack without saying anything.

[2017-02-08 03:15] juanj commented on #125
@theraccoonbear I was thinking on a good solution to this and found about Lightning Network. It kinda solve this problems, but, as far as I can find, is not quite ready yet. Also @explodi said something about using sidechains and payment channels. I don't know if he has any progress on this.

@CubeFromSpace I know how you feel, but @explodi (like all of us) has other things he has to do apart of B

[2017-02-09 01:19] CubeFromSpace commented on #125
Eh... you're right. He does come online though.

[2017-02-11 04:49] CubeFromSpace commented on #127
Earlier, I think explodi solved it.

[2017-02-11 04:49] #127 closed

[2017-02-12 02:20] explodi commented on #127
Happy to see this closed. The issue was making use of redis while on scheduled tasks. We used to refresh the user's balance (scoreboard) using this method (a task that runs every 100 seconds). In new versions of BitQuest the balance scoreboard is refreshed on certain events (like after a purchase or walking from one chunk to another)

Since BitQuest now supports Bitcore apart from Blockcypher ther

[2017-02-12 03:02] CubeFromSpace commented on #127
Wonderful!

[2017-02-12 16:53] CubeFromSpace commented on #125
I wonder... what if 1 emerald = 1 satoshi instead?

[2017-02-12 17:50] explodi commented on #125
If the problem we are trying to solve is the increasing miners' fee and microtransactions in the blockchain not viable anymore, Emeralds can be a tricky solution if a Minecraft bug or memory leak imposes a rollback of the world or a player inventory is lost.

I am proposing a solution (in the "offchain_payments" branch) to the problem by opening up an internal credit ledger in the server's databas

[2017-02-12 22:47] Xeyler commented on #125
Trading in-game won't result in a backed up wallet, and there won't be fees unless they're transferred to an external wallet.

On the other hand, security will have to be tight. I think you're up to that task, though.

Sounds like a good trade off.

[2017-02-12 23:00] jadiesel commented on #125
Might be a good idea to have a built-in delay before funds are available to withdraw... just in case. Not that anyone would purposefully try to get rich 1000 bits at a time though, right?

How about the user pays the miner fee when xferring out of the game? Or you charge them a higher fee, and the game keeps a small bit.

[2017-02-13 01:01] CubeFromSpace commented on #125
I think this needs it's own issue, and I think it already does.
I'm going to close this comment because this idea needs some thought

[2017-02-13 01:01] #125 closed

[2017-02-14 00:23] CubeFromSpace commented on #113
I made a PR, (and a few mistakes, as seen above) to fix this.

[2017-02-14 16:22] juanj commented on #97
I opened a PR to https://github.com/bitquest/overviewer-docker/pull/1 to add your code as a patch @jpchip.
I also made [this script](https://github.com/juanj/bitquest-overviewer-land-config) that connects to redis and generate a config file with the BoundsOverlay.

[2017-03-01 00:14] CubeFromSpace opened #135 "Villagers sell nothingness"
Not too long ago, (Before the end of the longest active streak I've ever seen XD) I tried to buy 8 sponges, but my inventory was full. Therefore, it completely canceled the 8 sponges and still took my 200 bits. (keep them :P) that may cause major problems once the trendiness of BitQuest comes back up (Which I hope happens)

[2017-03-01 00:18] CubeFromSpace commented on #135
In the Bukkit API, is there something like `player.invFull`?

[2017-03-01 00:20] theraccoonbear commented on #135
I fixed this exact issue in #77 but saw that it was rolled back at some point.  No idea if there were issues with the code or a poorly resolved merge conflict, but this bug was fixed at one point.

[2017-03-01 00:24] theraccoonbear commented on #135
Actually it looks like the discrete (and thus useful) error messages were removed by the logic's still there.  If it's not working now, I'm not sure why or what's changed, but I haven't touched the code or played in quite some time.

https://github.com/theraccoonbear/bitquest/blob/master/src/main/java/com/bitquest/bitquest/InventoryEvents.java#L126

[2017-03-01 00:28] theraccoonbear commented on #135
My only thought would be if the wet/dry sponges are the same item type in inventory but have some flag  for their wet/dry state internally.  That might account for a logic error and perhaps a better "can stack" check is needed beyond what's done currently in the `hasOpenSlots` determination.  I don't have time to dig into it currently, but if anyone else does, that might be where I'd start.

@Cube

[2017-03-01 02:29] CubeFromSpace commented on #135
@theraccoonbear No, I had no sponges, wet or dry.

[2017-03-03 04:56] CubeFromSpace opened #136 "Looting not working (maybe)"
I have a sword with looting II, but I get no extra drops. This may be just me, but I feel like something went wrong.

[2017-03-03 04:56] CubeFromSpace commented on #136
Could it be that we started using an older version?

[2017-03-06 20:09] CubeFromSpace commented on #136
Nvm, not a major problem

[2017-03-06 20:09] #136 closed

[2017-03-11 20:25] CubeFromSpace commented on #113
@explodi, please review and merge my PR

[2017-03-12 05:00] CubeFromSpace commented on #41
Why does nobody respond to my comments?

[2017-03-12 05:01] CubeFromSpace commented on #34
@explodi, this issue is inferior and useless now. This was added

[2017-03-12 05:02] CubeFromSpace commented on #25
Someone on slack wanted land auctions. Don't remember who

[2017-03-12 05:02] CubeFromSpace commented on #105
This was fixed :P

[2017-03-12 19:36] explodi commented on #113
Hi, the transactions in future versions will use a different API, so in order to merge this PR i need the new API working.

You can see how this is being made on the last commits (56d0a81828c834f49999617c636f8079f95ed400, 1d3686e2d5c8d5a785f443669abe7ad1beb80471)

To clarify, this PR *will* be, merged but in a commit using a the new API.

[2017-03-13 16:19] syrianrue commented on #25
well land buying/selling could be a great feature as right now theres no real market right now. there no way to list or advertise plots, find people who might want to sell a plot, and both buyer and seller have to be online.

land speculation seemed to work really well for secondlife. and it gives people something unique to buy, other than hoarding more diamonds/other generic blocks.

[2017-03-13 20:00] CubeFromSpace commented on #113
Ok, but additionally, would I have to change something because of the conversion to Xapo?

[2017-03-14 22:29] explodi commented on #113
We'll be using Xapo for cash outs. All other transactions will happen on an internal ledger. I am making a beta test for this new development. You can check the progress of the beta builds here:

http://beta.bitquest.co:8080/job/bitquest/

Will attempt merge this PR now.

[2017-03-14 22:30] explodi commented on #113
Just realized this is not a PR but an issue. Nevermind

[2017-03-14 22:34] explodi commented on #113
In the new off-chain builds, a 200 bit minimum is not needed (cause there's no fees!) but there *will* be a minimum in cashouts (/transaction)

I think it's gonna be 1000 or 10000. If it's a e-mail payout via xapo it will be free, but on-chain blockcypher transactions will cost the user a feedetermined by the Bitcoin market. This is subject to change as the beta builds are tested.

[2017-03-14 22:34] #113 closed

[2017-03-15 01:25] CubeFromSpace commented on #113
Wonderful! So Xapo API has free transfers?

[2017-03-15 03:07] explodi commented on #113
I'm not sure how it works fee wise, I just implemented the API found on http://developers.xapo.com. I chose xapo because its a very respectable company in security of Bitcoins, but we had implemented their API version 1. This is the implementation for version 2.

[2017-03-15 12:52] CubeFromSpace commented on #113
I feel like we should make a deadline and/or checklist for BQ 3

[2017-03-15 23:05] explodi opened #137 "land transfer is not working on sign or command"

[2017-03-16 03:19] CubeFromSpace commented on #137
So it stopped working, maybe because of coding errors?

[2017-03-16 20:00] CubeFromSpace commented on #109
I had a new plan

[2017-03-16 20:02] CubeFromSpace commented on #109
Because @explodi just implemented the new Xapo system, we can now have in game transactions less than 200, (but not external ones). The loot is WAY less now, only 1-5b per overworld mob, but maybe we can make loot chests worth ~10-15b each, albeit still rarer.

[2017-03-16 20:16] theraccoonbear commented on #109
I'm not really clear what your idea is, but I'll happily criticize once I understand it.

[2017-03-16 21:39] CubeFromSpace commented on #109
You can make transactions less than 200 bits

Loot chests may be able to work, being about 10-15 bits, about the same as 1-2 low level pigmen with the new loot system

This may work (unless @theraccoonbear says how it won't) except with no item loots at all, in the same sense that those have value

[2017-03-19 23:06] juanj commented on #117
This is no longer an issue

[2017-03-19 23:06] #117 closed

[2017-03-19 23:10] juanj commented on #126
This issue can be close.
The problem is fixed in #130

[2017-03-19 23:50] juanj commented on #34
This issue can be close.

[2017-03-19 23:53] juanj commented on #40
This is no longer an issue because the `/land` command can be used to claim land

[2017-03-19 23:53] #40 closed

[2017-03-20 00:45] #34 closed

[2017-03-20 00:46] #119 closed

[2017-03-23 01:47] CubeFromSpace commented on #135
@explodi, any thoughts on this?

[2017-03-23 01:47] CubeFromSpace commented on #109
@theraccoonbear you forgot to criticize me

[2017-03-23 01:48] CubeFromSpace commented on #101
@burntuno the wither is working

[2017-03-23 01:49] theraccoonbear commented on #109
I don't criticize you, I criticize ideas if I think they need to be refined

[2017-03-23 01:49] CubeFromSpace commented on #102
This kinda happened when @explodi updated to 1.11.2

[2017-03-23 01:49] CubeFromSpace commented on #109
Ok

[2017-03-23 01:51] CubeFromSpace commented on #65
This is set up so that the further From spawn, the higher the level. I might go to find the code later

[2017-03-23 01:52] CubeFromSpace commented on #23
@explodi refined the system so that every mob drops loot, but in smaller amounts due to the new hybrid wallet system

[2017-03-23 01:55] CubeFromSpace commented on #32
Are you sure that will work with the current  system?

[2017-03-23 01:59] CubeFromSpace commented on #97
Is this entirely essential? I'm not criticizing or anything, but I think that may be too much because of all the points showing and blocking out part of the map

[2017-03-23 02:06] jpchip commented on #97
It's not essential at all, I just thought it would be a neat feature.

The way I ended up implementing it is not with points at all, but with a [colored overlay](https://github.com/jpchip/Minecraft-Overviewer/pull/1). You can also toggle the overlay layer on or off.

[2017-03-23 12:06] CubeFromSpace commented on #97
Ok, that makes more sense, especially with clans and public/private ownership too.

[2017-03-23 16:11] CubeFromSpace commented on #126
@explodi /\
                 |

[2017-03-23 16:11] CubeFromSpace commented on #126
Oops

[2017-03-26 04:20] Burntuno opened #139 "Need Clan tags, a clan list, and way to delete old, non used, clan names."
Need a way to show show clan tags when player presses TAB.

Would be great to have a /clan list function to list clans and memebers.

Maybe a way for Moderator to clear out non used clan name or however.

[2017-03-26 04:20] #101 closed

[2017-03-26 04:37] Burntuno opened #140 "Teleport idea..."
I was thinking it would be nice and could help fund server, if we had a pay to initiate multiple teleport system.  Idea is, stand in place you would like to have a teleport to, use a command like '/tps add CustomName', server charges 1000 bits to unlock that location, user can teleport to that location anytime with a command like '/tps go CustomName', and they can make as many locations as needed,

[2017-03-27 01:28] CubeFromSpace commented on #140
@burntuno, @explodi, we've been debating this on Slack, and I think we first need to remake the loot system and also make an ingame transaction system.

Otherwise, I think we also need compass TP tax, maybe 5 or 10 bits per.

@theraccoonbear, I know you probably need to tell me the flaws of it. (It's a good thing sometimes, it needs opinion)

[2017-03-27 02:38] Burntuno commented on #140
I think compass and bed should be free and no Bits per Teleport.  One time initiation fee to setup an unlimited TPS location, is what I mean.  So what happens when you TP and you die ASAP... then you feel robbed.  Lag and disconnect could be an issue too.  That is why I'm not fan of payment each teleport.  I think we should give the players open ability to make many and anywhere TPS locations, jus

[2017-03-27 02:46] theraccoonbear commented on #140
I agree with @Burntuno that compass/bed should be free.  Bed must be free, or what happens when a player dies and has no bits?

I think setting a TP location should have an initial cost and then usage cost.  Maybe something like 500-1000 bits to _create_ a TP destination and then maybe something like 10-50 bits per _use_?  Building it with ongoing, usage based fees could help sustain the fee walle

[2017-03-27 05:54] syrianrue commented on #140
i dont think the per use should grow over time. but if it grows over time then after paying the relatively high creation fee, they are they discouraged from using it as continual use is taxed at an ever increasing rate. make the initial or per use higher instead.

[2017-03-27 12:48] theraccoonbear commented on #140
@syrianrue I never suggested the cost grow with use, I'm saying I don't know a good price point and am providing some proposed ranges.  The important thing is that it be recurring.  These one-and-done sales are not going to sustain BQ's economy.

[2017-03-27 13:24] syrianrue commented on #140
ok, i guess i was confused by your statement "Building it with ongoing, usage based fees" because it sounds like the fee is building. but yeah having a creation and per use fee makes sense.

[2017-03-27 13:24] Burntuno commented on #140
I think since you could buy many TPS, each costing 1000 bits(at least) , it isn't really a one and done.  Our regular players are already all over map and would buy more as new areas open up.  New players come and go on BQ.  Some play hard for a month and are never seen again.  If each of these buys 1 or 2 TPS, before they stop playing, it could generate bits for server not loot.  In other words,

[2017-03-27 13:43] theraccoonbear commented on #140
Personally, riding AFK in a mine cart to travel 10s of kilometers doesn't really constitute "questing" or even gaming, in my mind.  It's an annoyance, and as a result, isn't something I will do.  I think teleports would be very useful, and a reasonable generator of money (to fund whatever) but I think having a nominal per use fee is important beyond just setting up the TP.  That's my $0.02

[2017-03-27 19:47] CubeFromSpace commented on #140
I guess you're right now that even 2 bits becomes excruciatingly hard

[2017-03-27 20:16] TheFirstSpirit commented on #23
Actually, not every mob drops loot... only every 20th about...

[2017-03-27 21:10] theraccoonbear commented on #23
@TheFirstSpirit 1 in 10 https://github.com/bitquest/bitquest/blob/d3efd1a743ab062bb4a1b8718f2dbce9618c054f/src/main/java/com/bitquest/bitquest/EntityEvents.java#L463

[2017-03-27 22:56] CubeFromSpace commented on #23
@thefirstspirit earlier you explained magnificently how it worked, being 2 in 20, but what I stated 5 days ago was before he edited the system. Before then, it was every mob drops loot in small amounts

[2017-03-27 23:11] theraccoonbear commented on #23
@CubeFromSpace You're right.  It's been fiddled with recently. Looks like starting on the 22nd it was 1 in 20: https://github.com/bitquest/bitquest/commit/7d48852df18ecfed682aa7e8ad2aa21d3d7519c8

Previous to that, it looks like you always got loot from every mob kill *if* the loot wallet had more than the randomly determined number of loot bits in it.

When or if either of those changes were push

[2017-03-28 03:36] Burntuno commented on #23
@TheFirstSpirit , Player to Player transfer is almost here.  Then it will be easier to gets some bits to start game.  Players usually make easy trades with new active players to help build community.  Loot has to be rare since it is only available if players spend bits shopping.  Once wallet features complete, many more bits will be passing around to enjoy the game.

[2017-03-28 14:06] syrianrue commented on #105
http://i.imgur.com/8l7gWLG.png

i dont think this is fixed. take a look at the arrow in the bottom center that used to be mine.

[2017-03-28 19:58] syrianrue opened #141 "cartographer maps"
just had an idea for something that might sell well in the villager store; cartographer maps. its normally only available as a villager trade, so now they are impossible to get. not such a big deal for ocean monuments because they are common enough, but woodland mansions are very hard to find. plus the maps actually look pretty cool on a wall.

[2017-03-28 21:18] CubeFromSpace commented on #105
It was attempted to be fixed

[2017-03-28 21:20] CubeFromSpace commented on #141
This server was created LOOONG before that, and those maps may not work. Reason: only unexplored chunks can have them, and most chunks have been explored until around 30000 blocks away.

[2017-03-28 21:20] CubeFromSpace commented on #141
My point: all villagers are within 2000-4000 blocks of 0, 0

[2017-03-29 00:23] Xeyler commented on #140
This was addressed in my plans for the compass.

Players would be able to teleport to each of their claims. Of course, that could get hard to navigate if you have a lot of claims, but you'd be able to sort them by most commonly teleported to, location, etc... On top of that, they'd be able to separately teleport to moderator-defined spots(similar to how it worked in Classic BitQuest).

Here's a pr

[2017-03-29 01:14] theraccoonbear commented on #140
@Xeyler I'm not hearing any audio on that video, so it's tough to know what's going on.  Am I missing something?

Having options to teleport to any of your claims might be cluttered for folks like me who have 30+ plots all adjacent to each other.  I only need to get to that area, not each 16x16 chunk.

[2017-03-29 01:40] Xeyler commented on #140
Sorry about the audio, it was cut off when I exported for some reason...

But I do plan to address the adjacent plots issue. You'd be able to filter the plots to represent many adjacent plots as one.

[2017-03-29 04:12] syrianrue commented on #141
well im not the only user whos been out past 50k where new chuncks with villages and woodland mansions form...

but then again, maybe its just easier to sell totems of undying, albeit less fun to acquire them than if you have to travel far and make a journey out of it.

[2017-03-29 12:48] CubeFromSpace commented on #141
If you want to spend the money on it, I'll add it to my PR #138. (PR for villager items)

[2017-03-29 13:04] CubeFromSpace commented on #141
@syriansue There is no Bukkit value for that. It has to be under MAP, but I haven't figured out how to do NBT data yet. @explodi pls halp

[2017-03-29 13:04] syrianrue commented on #141
yeah ill definitely buy one. i guess ill just have to travel far out, otherwise the map will say the nearest mansion is 20, 30, 40k in some general direction. it will be easier to be nearer to those new chuncks to start with. and if theres ever a market for totems, i think a lot more people will be buying those maps too.

[2017-03-29 13:05] syrianrue commented on #141
yeah i guess there has to be some way to hook into the original villager function of generating a new map. i havnt messed with bukkit before so idk how to do that.

[2017-03-29 20:16] TheFirstSpirit commented on #23
If the server by default had 1 million bitcoins... which is about 1 trillion bits... that would definitely be enough.

[2017-03-29 20:33] CubeFromSpace commented on #23
That would be worth about 1 BILLION DOLLARS

Seriously, that's stupid

[2017-03-31 01:10] theraccoonbear opened #143 "self-regulating loot dispensing"
Regarding @explodi's issue https://github.com/bitquest/bitquest/pull/142#issuecomment-290584987

It would be great to create a loot reward system that automatically adjusts itself to dispense more loot when more bits are paid into the loot wallet.  Using some sort of moving window average (think: how BTC mining difficulty auto-adjusts periodically)

[2017-04-02 16:04] Xeyler opened #146 "Villagers will steal items without buying them."
In [InventoryEvents](https://github.com/bitquest/bitquest/blob/df9ac790a180a815ea5b6ac339079bbdcbc71537/src/main/java/com/bitquest/bitquest/InventoryEvents.java#L214), when a player sells an item, the item is taken from their inventory, then BitQuest tries to make the payment. It should instead pay first and then take the item in case their aren't enough bits in BitQuest's wallet to pay.

Also, th

[2017-04-06 02:58] CubeFromSpace commented on #146
I think it should be disabled until its ready, because it is basically giving away money

[2017-04-06 02:58] CubeFromSpace commented on #135
I think this was fixed

[2017-04-06 02:58] #135 closed

[2017-04-08 16:53] Xeyler opened #149 "Claim command doesn't support spaces in claim names"
When using commands to claim land, arguments are separated by spaces.

Presumably, the code uses just one argument instead of concatenating it with all arguments following it.

I will investigate further later.

[2017-04-11 01:28] CubeFromSpace commented on #149
How about trying something like if args [<1] = (alphanumeric characters)

Or if there's a way to select multiple arguments

[2017-04-11 01:37] CubeFromSpace commented on #146
Nvm, expiremented, the problem is you need some decent donations.

[2017-04-11 01:44] Xeyler commented on #149
I created a commit that concatenates the arguments, but that's an incomplete solution.

In concatenating the arguments, we can only assume that there was just one space between args. PlayerCommandPreprocessEvent is the only way we can access unfiltered command to know exactly where spaces are, so we should consider using that instead.

[2017-04-11 01:49] Xeyler commented on #146
Fixed by commit: d355952e384146512bf02d4b5041c9ba2ff4ce82

[2017-04-11 01:49] #146 closed

[2017-04-17 13:31] Xeyler opened #150 "Ban Command Doesn't Work"
I suspect issues with how UUIDs are set and read between the [Player Join Event](https://github.com/bitquest/bitquest/blob/master/src/main/java/com/bitquest/bitquest/EntityEvents.java#L87) and the [Ban Command](https://github.com/bitquest/bitquest/blob/master/src/main/java/com/bitquest/bitquest/BitQuest.java#L1096).

[2017-04-18 20:17] CubeFromSpace commented on #150
And maybe while this is fixed, you could add a feature to transfer his/her balance to the loot wallet when banned too.

[2017-04-18 21:39] CubeFromSpace commented on #143
Is there a way to read the amount of bits in the main wallet?

If so, I was going to make a PR for random stuff.

[2017-04-18 21:40] CubeFromSpace commented on #139
Clan tags upon TAB is done. I dont know about the other ones

[2017-04-18 21:41] CubeFromSpace commented on #100
@explodi is this issue valid with the 2000b minimum and new Xapo stuff? (Just wondering)

[2017-04-18 23:09] Shiny-andKittens opened #151 "Landname announcenents aren't cancelled on Elytra"
Unlike when using minecarts or horses, Elytras display land names. This causes some extra lag

[2017-04-18 23:10] CubeFromSpace commented on #137
@explodi it seems to work now

[2017-04-18 23:11] CubeFromSpace commented on #42
As stated above, this was added 🙂

[2017-04-19 00:07] CubeFromSpace opened #152 "(Minor) Item frames aren't protected"
I am able to take items out of the frames, and I know that shouldn't happen (sorry for lazy description)

[2017-04-20 18:45] juanj commented on #152
This is a duplicate of #54.

[2017-04-20 22:21] CubeFromSpace commented on #152
Ok sry

[2017-04-20 22:21] #152 closed

[2017-04-23 02:51] CubeFromSpace commented on #150
@xeyler @explodi I found a typo:
               if(BitQuest.REDIS.sismember
                                              /\
(Sorry, on smartphone or I would be able to say which line)

[2017-04-23 02:53] CubeFromSpace commented on #150
Wait, maybe that wasn't a typo. (Very sorry)

[2017-04-23 02:56] CubeFromSpace commented on #103
Was this fixed? @explodi added the Xapo system and all

[2017-04-23 03:02] CubeFromSpace commented on #102
Is the mob burnout necessary? Kinda removes the "RPG" feel from RPGMMO. In an RPG, all the mobs somehow come back (in some form, whether it respawns or he new Zelda game has a blood moon)

We should also avoid the mobs being to close, though, because new players may be killed by mobs (and Satoshi has that "pure" feel (maybe because of all the quartz))

@raccoonbear, any suggestions about how it wo

[2017-04-25 15:07] #126 closed

[2017-04-25 15:13] Xeyler commented on #139
Clans that have no members should automatically be removed.

This would be checked each time a player left a clan until the last player left.

[2017-04-27 01:35] CubeFromSpace commented on #96
@xeyler I think that PR was merged

[2017-04-27 01:38] syrianrue commented on #96
i think this is on topic, but id like to suggest a simple fix in the meantime by enabling the /ignore <username> command

[2017-04-27 02:05] CubeFromSpace commented on #96
You mean with CwazyMiner spamming profanity every few weeks?

[2017-04-27 02:08] syrianrue commented on #96
no not just him. theres a couple annoying players on that i wouldnt mind ignoring. we were talking about it in public earlier but in this case the user was just saying the same thing 3x.  one of the other users even tried using /ignore before i mentioned that it should be enabled.

[2017-05-01 01:15] Burntuno opened #156 "Claim Transfers not working with sign when playernames are long."
In early BQ2.0 using signs, plot names could be very long and have symbols in them.  This feature is missed and now plot names are shortened to 16 max.  Being max 16 letters is also messing with sign transfers.  Doing the ^transfer Playername^ won't work if total letters including transfer is over 16, so players with long names can't receive a plot transfer.  If there was a way to have full sign l

[2017-05-01 01:18] Burntuno opened #157 "Curse of Binding Pumpkin Issue"
A player received from another, a Curse of Binding Pumpkin, which now can not be taken off and since we have keep inventory on, it is stuck.  Armor pieces would eventually break off, but a pumpkin has no damage to break.  Might be best to remove the affects of this enchant for our server.  Now an Admin or new way is needed to help this player out.

[2017-05-01 01:23] Burntuno opened #158 "/ignore chat feature"
Need this enabled so some players can ignore others for various reasons.  Let it also ignore Moderators since sometimes their chats can be redundant, which helps others listening, but regulars know it already.  Let whispers make it through the /ignore so Moderators, or whoever, could get message threw if needed.

[2017-05-01 01:42] Burntuno opened #159 "Players who have not play BitQuest in a long time come back to a bug."
Observing that old Bitquest players from prior versions of Minecraft(1.9, 1.10, 1.11), not sure which, return to game with a few bugs.  Missing Bitquest Balance: ## on right of screen, compass not teleporting to spawn, and ability to access claimed plot chests, are part of the known bugs.  This bug resolves itself after some time of playing or by next day, it seems.  Security issue is they can acc

[2017-05-01 02:00] Burntuno opened #160 "We need Terry! A Giant Terry!"
To add more excitement around the Mob-less Satoshi Area, it would be great to have a Giant Zombie Terry.  It could march around slowly so new players can get away.  It should have enough health so it takes a few players go gang up and battle it.  Giant so Elytra fly by hits possible.  Maybe make it give some kind of unique useful loot, like Baked Potatoes, so their could be a feast after the battl

[2017-05-01 02:31] Burntuno opened #161 "Need ability to copy link from whisper chat."
Italic whisper chat doesn't let a link be copied or clicked.  This is useful in sharing sensitive information.  Not sure if it is a server or client issue.

[2017-05-01 13:27] CubeFromSpace commented on #160
We all agreed that BitQuest needed bosses.

[2017-05-01 18:40] CubeFromSpace commented on #157
Is there a way to detect enchants on certain items? (Sorry, I'm still not good at Bukkit, but I'm reading JavaDocs). If so, you can remove a pumpkin with the enchant.

[2017-05-01 18:47] AndrewBuck commented on #157
The ItemStack class has a getItemMeta() function which returns an [ItemMeta](https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/inventory/meta/ItemMeta.html) type.  I think this will let you do what you want.

[2017-05-01 18:52] CubeFromSpace commented on #157
Great! (Although now I would need to read more JavaDocs to do that, so, by the power of the internet, I shall summon @explodi to this issue)

[2017-05-01 19:07] CubeFromSpace commented on #150
@Xeyler @explodi What if we make a fallback command to add players to the Serverside banlist rather than to our REDIS database.

[2017-05-01 20:30] syrianrue commented on #160
id certainly vote for this.

[2017-05-01 20:33] theraccoonbear commented on #160
@syrianrue consider using the up-vote (thumbs up/+1) on @Burntuno's original post instead of a "me too" message ;)

[2017-05-01 22:24] syrianrue commented on #158
i agree with all of that. my only suggestion is not to hobble /ignore by allowing PMs to get through as you can imagine the scenario of a user like crazyminer setting up PM spam script. but allowing Mods to get through the ignore in PMs would be good since they might have important messages.

[2017-05-01 22:57] Burntuno commented on #158
However it works out, I think /ignore for Moderators is fine, because of our redundant shouts helping new players.  Ability for Moderator to whisper through a /ignore, would be key to this.  Saying this, makes me think, maybe Moderators need a /announce command that puts up a Bright or highlighted chat line of important information, for all players.  Example would be "/announce Server reload expec

[2017-05-02 01:36] CubeFromSpace commented on #42
@explodi does it work?

[2017-05-02 01:37] CubeFromSpace commented on #96
@xeyler, there is a PR #112 that SORta adds this, but without the tarination part

[2017-05-02 01:38] CubeFromSpace commented on #96
Wait I realized that that PR also references this issue. Sorry about that

[2017-05-02 01:40] CubeFromSpace commented on #158
I think we should also make a /mute command to shut up CwazyMiner.

[2017-05-02 19:18] Shiny-andKittens opened #166 "Updated images for README.md"
The first image is an early concept of loot, the second a screenshot of BQ 2.0 transfers. (We are in 2.1)

[2017-05-02 19:20] Shiny-andKittens commented on #65
I am attempting to fix it in the Nether and End with PR #165

[2017-05-02 22:45] juanj commented on #166
Also this statement is no longer true.

[2017-05-02 23:09] Xeyler opened #167 "Change BitQuest variable storage techniques"
Since BitQuest 2.0, we've used REDIS and environment variables to store variables. I think we should do some things to make BitQuest more user-friendly in maintenance and setting up:

1. Use MySQL instead of REDIS
2. Use a [config.yml](https://www.spigotmc.org/wiki/config-files/) instead of environment variables

A migration to MySQL could require a fair amount of work. It's also pretty likely tha

[2017-05-02 23:19] theraccoonbear commented on #166
@juanj is the new hybrid on/off-chain transfer/payment system documented anywhere?

[2017-05-02 23:23] theraccoonbear commented on #167
Oof, I vote we keep MySQL as far away from this as possible.  If we want an RDBMS (do we really? what's the use case?) I vote for PostgreSQL.  If you're running/deving with Docker (the preferred setup, last I saw?) getting REDIS up is dead simple (as would be MySQL, Postgres, et al).  Likewise, `docker-compose.yml` makes storing those env vars in a YAML file easy and "just works" with Docker.  Jus

[2017-05-02 23:47] Shiny-andKittens commented on #166
@theraccoonbear not on README.md, I don't think

[2017-05-02 23:48] Shiny-andKittens commented on #167
I think it may be too hard to switch to a new database now that we use it so much in the plugin, but it may be possible if we all agree.

[2017-05-03 15:16] Shiny-andKittens commented on #160
@Burntuno @explodi we can make a command-based mob which is created in the code, using the `Bukkit.dispatchCommand()```

[2017-05-03 17:02] Shiny-andKittens commented on #102
Maybe I could make it so low-level mobs appear if the Landname is Satoshi. @Burntuno does this make sense?

[2017-05-03 17:14] Burntuno commented on #102
We don't need mobs in Satoshi.  Actually if a player can't travel 300 blocks out to find mobs or take a rail to distant unexplored land, then they aren't trying hard enough.  Mobs in the last couple of builds have been spawning strong, where needed.  These issues plagued game more on early builds.  Still a way for Moderators to control mobs would be up to Administration and it is not a priority.

[2017-05-03 18:18] Xeyler commented on #166
@theracoonbear, I've been trying to update the wiki. [This page](https://github.com/bitquest/bitquest/wiki/Your-In-Game-Bitcoin-Wallet) offers some information on the hybrid system.

I haven't gone through the README yet, though. I'll make some changes.

[2017-05-03 20:32] #151 closed

[2017-05-04 01:31] Shiny-andKittens opened #172 "(Not code related) The website needs updated"
1. The website displays 1.9 rather than 1.11.2.
2. The Xapo system introduced new features, we may (idk if it does need to be) need to update some descriptions

[2017-05-04 23:19] Shiny-andKittens commented on #150
@xeyler Juanj has fixed this.

[2017-05-05 16:26] Shiny-andKittens commented on #160
@Xeyler @Burntuno I made a command, and this Terry is a giant zombie, and he has 80 health, does 8 damage, drops various amounts of potatoes, and I could make a PR to both add Terry and prevent loot from him.

[2017-05-05 21:18] DabTime opened #173 "Fix Cooked Beef"
EDIT: It does show up in villager inventory after you sell cooked beef to a villager. It will take all your beef during the sale and pay you as if you gave him one single cooked beef.

[2017-05-08 03:20] Shiny-andKittens commented on #173
It is because someone undid his market bot prototype, I think.

[2017-05-09 14:47] Shiny-andKittens commented on #157
@explodi magical internet summon pls

[2017-05-09 14:48] Shiny-andKittens commented on #100
I will try to fix this, @Xeyler

[2017-05-15 12:14] DabTime commented on #173
#175

[2017-05-20 18:53] Burntuno commented on #159
This bug has shown more symptoms.  Now when server full and busy with new players, same bug occurs.  The player is missing scoreboard, compass not working, and they can access protected chests.

Is it possible the Wallet API limit is reached and the players data is not fully initialized with server?  If this is the case, would it be possible to put player in a Spectate or Non affecting mode while

[2017-05-25 00:46] Shiny-andKittens commented on #161
It looks like a client issue, but I could be wrong

[2017-05-25 00:46] Shiny-andKittens commented on #159
This does not help now that Fuze III fans come online all the time

[2017-05-25 00:47] Shiny-andKittens commented on #97
Maybe different colors for Private, Public, and Clan

[2017-05-25 00:47] Shiny-andKittens commented on #172
@explodi

[2017-05-25 00:48] Shiny-andKittens commented on #166
@explodi we need the server online to do this

[2017-05-25 00:49] Shiny-andKittens commented on #140
And this may work due to the 1000b fee

[2017-05-25 22:45] #173 closed

[2017-05-25 22:49] explodi commented on #167
using sql is a lot more work and creates vectors for attacks as the language is more complex and injectable. this must be considered before making the change to a new database system. on the other hand the simplicity of redis which cannot perform complex operations but fast and simple ones also make the code more auditable.

[2017-05-25 22:53] explodi commented on #166
Now it's possible to start the server without an HD wallet, or no wallet at all. It needs to be tested more and I can update more documentation.

The idea is that production BitQuest can run in a cold storage with a hot wallet and HD addresses when configured that way, but by default it runs in hot wallet mode, meaning there's nothing to be configured (just your address and private key)

[2017-05-26 13:53] jadiesel commented on #167
Barefoot Bob here, FYI.   I've been a DB professional for over 30 years - and run a couple different development projects today. I just had to interject my thoughts.  There is nothing wrong with Redis for simple, quick transactions. The problem with Redis is two-fold though: It is memory resident, so the more you use it (the bigger the load), the more memory you chew up and need. This can easily l

[2017-06-01 16:03] DabTime commented on #156
This will also not work if the player has a symbol in their name. I tried to transfer to 8_Mile today and it did not go through because of the underscore.

[2017-06-07 19:35] Shiny-andKittens commented on #106
@burntuno right now we have lag again

[2017-06-07 19:37] Shiny-andKittens opened #176 "Major problems"
There are problems involving the avalanche of leeches from Fuze III and chest protection failing. Does anyone know the cause?

[2017-06-07 19:40] Shiny-andKittens commented on #137
@explodi /\

[2017-06-07 19:41] Shiny-andKittens commented on #100
@xeyler @explodi this is no longer an issue with 2000b minimum and internal system

[2017-06-07 19:45] Shiny-andKittens commented on #157
By the power of the interwebz, @xeyler, I summon thee!

[2017-06-13 02:34] juanj commented on #176
Maybe this is related to #159

[2017-06-13 03:43] Shiny-andKittens commented on #176
These are new players, not BQ1 players returning

[2017-06-13 21:36] explodi opened #177 "There is a bug when transefering plots to others with "_" in the name"

[2017-06-15 17:20] #176 closed

[2017-06-15 17:27] Shiny-andKittens opened #178 "Make effects more random"
I think that the effects are too powerful, so I think maybe we should make more like this:
A random number between 0 and 5 is chosen (because minecraft does that +1, so it is lvl 1-6), and that is the potion strength used.

**Edit: We cannot do anything more than level 4 for Resistance or mobs/players could become invincible.

I also think we should add more possible effects, like maybe haste and

[2017-06-22 01:42] Shiny-andKittens commented on #157
@explodi or @xeyler please answer

[2017-06-23 22:17] Shiny-andKittens opened #179 "We really need to bring attention to this repository"
Just read the title.

[2017-06-24 02:49] juanj commented on #157
Drink a bottle of water and all the pain will go away!
(Needs #180 to be true)

[2017-06-24 03:13] juanj commented on #150
This issue can be closed.

[2017-06-24 03:20] juanj commented on #141
I did some research on this and there is no way to hook the original treasure map generation code.
To do something like this we will need a way get the location of the structures and place them in the map. Then create a custom render for that map.

[2017-06-24 16:22] Shiny-andKittens commented on #177
@explodi view the PR above

[2017-06-29 16:28] Shiny-andKittens commented on #179
@xeyler *come over here!*

[2017-06-29 16:28] #166 closed

[2017-07-02 18:27] #179 closed

[2017-07-11 19:00] Shiny-andKittens commented on #160
@Xeyler , @burntuno , @explodi

Mojang currently has giants in a NOAI state, so Terry must be a normal zombie.

[2017-07-12 02:08] explodi commented on #178
You mean enemy effects?

[2017-07-12 02:13] explodi commented on #159
This was fixed a while ago, there was an API limit on HD wallet creation and now the server will kick users when said limit is hit. They are presented with the message "Can't join right now. Come back later".

Please don't hesitate to reopen this issue if it happens again.

[2017-07-12 02:13] #159 closed

[2017-07-12 02:49] Shiny-andKittens commented on #178
Yes, but that also affects what creepers explode into.

[2017-07-12 02:50] Shiny-andKittens commented on #150
@explodi

_I have flagged this issue for demolition_

[2017-07-12 02:51] Shiny-andKittens commented on #106
@explodi what is your opinion on this?

[2017-07-12 16:01] Shiny-andKittens commented on #137
@explodi ...

*SMITE THIS ISSUE WITH YOUR ALMIGHTY POWER*

[2017-07-12 16:02] Shiny-andKittens commented on #178
@explodi It would further enforce the RPGMMO theme

[2017-07-14 03:27] QuentinTy commented on #178
Currently literally more that half of the mobs have absorption and of those half got resistance. its so annoying killing mobs without creeper effects. creeper effects seem impossible now.

[2017-07-14 04:06] Shiny-andKittens commented on #178
I'll make another issue regarding that

[2017-07-14 04:09] Shiny-andKittens opened #184 "Reduce the distance-based nerfing"
@explodi doing spawndistance / 2048 is too much and we no longer get any powers other than resistance and absorption. Try to make it at least spawndistance / 1536 (75% as much) and raise the chance for effects _slightly_.

[2017-07-15 15:30] QuentinTy commented on #184
what determines spawn distance? 0,X,0 or at a active used bed? If its 0,X,0 then creeper effects have been mostly broken (or patched because its just a bug)

[2017-07-15 16:48] Shiny-andKittens commented on #184
@QuentinTy it's determining how far from spawn, it would break into absolute destruction if it was Bedspawns. The Overworld mobs are too weak to give good effects easily. Neither are they too hard to pose a major threat.

[2017-07-16 02:11] QuentinTy commented on #184
Ok, i was 50k out south and mobs weren't that high level... rip creeper effects unless mob level cap is raised or effects become the old random system.

[2017-07-16 04:17] Shiny-andKittens commented on #184
I think the cap should be raised, although I have found creepers bearing every effect except strength.

[2017-08-28 18:55] QuentinTy opened #185 "Glow + Levitation creeper effects"
in the code, bitquest/bitquest/src/main/java/com/bitquest/bitquest/entityevents.java there is a chance for GLOWING and LEVITATION. glowing might not be much of an issue however if a player were to get a levitation creeper to spawn and it blows up someone without a compass then the account could be stuck until help was received by a mod. (on second look glowing is unobtainable to players and only s

[2017-08-28 19:31] theraccoonbear commented on #185
@QuentinTy I'm not sure I follow.  What would be the problem here?

[2017-08-28 19:56] syrianrue commented on #185
well lets assume a levitation creeper did explode near you, maybe while floating away. you would have infinite levitation so you would just constantly keep floating up to the sky. using a compass/eye to get back down would just restart you at ground level before floating back up.

https://minecraft.gamepedia.com/Status_effect#Levitation

[2017-08-28 20:08] theraccoonbear commented on #185
Interesting, I did not know that was a thing

[2017-08-28 21:57] QuentinTy commented on #185
Issue, newer players may not have compasses and this issue could be very annoying to mods

[2017-08-29 00:00] u8iuui11 commented on #185
Got hit by one of those creepers. Had to get my friend to give me a bucket of milk making me lose all of my other buffs =/ .

[2017-08-30 20:50] juanj commented on #157
(Now that #180 is merged this issue can be closed)

[2017-09-15 00:27] sabosag opened #188 "Can't join back into clan you've created"
I created a clan and left it temporarily and now I can't join it. It just says a clan with that name already exists. So basically, any clan that has zero people in it is unjoinable, even if you created the clan. Maybe a /clan disband to manually do it if you wanted and have it automatically disbanded and the name be made available once no one else is in it.

[2017-09-21 15:58] Shiny-andKittens commented on #185
@QuentinTy can you show me where those effects are? I can try to fix it

[2017-09-21 16:04] #172 closed

[2017-09-21 16:06] Shiny-andKittens opened #189 "When a player is banned, his/her balance should be given back to the Loot Wallet"
Otherwise it becomes lost and hard to recover.

[2017-09-21 18:56] QuentinTy commented on #185
Yeah, I sent you message on slack with screenshot as well as a link to the bug can be found (here)[https://github.com/bitquest/bitquest/blob/master/src/main/java/com/bitquest/bitquest/EntityEvents.java]. Line 640ish

[2017-09-21 23:23] Shiny-andKittens commented on #185
@explodi I fixed this in a new PR#190

[2017-09-21 23:25] Shiny-andKittens commented on #54
@explodi is this issue relevant anymore or does it need more investigation?

[2017-09-21 23:26] Shiny-andKittens commented on #160
Can we discuss this topic? I would like to see everybody's ideas. Also, we should make something ELSE for the giant crown in the nether.

[2017-10-28 00:51] TheHeroBilly opened #194 "Confused about btc origin"
I've been considering host a server based on your code for a private group of friends. (Mostly to try make a small profit to cover costs). Where does the btc come from? Is it generated by the server or is it provided by the host and users?

[2017-10-28 00:52] syrianrue commented on #194
the btc comes from users that deposited and bought from the villager shop

[2017-10-28 00:52] QuentinTy commented on #194
The bitcoin in bitquest is ONLY deposited and recirulated. As the server uses real bitcoin it cannot be generated out of thin air and must be from the main block chain.

[2017-10-28 01:14] TheHeroBilly commented on #194
Well I understand how Bitcoin works. I just was unsure if it was being mined as the server was run

[2017-10-29 18:47] Shiny-andKittens commented on #194
@TheHeroBilly

Mostly donations from players but Bitquest is in a horrible state and there’s almost no players willing to donate.

That means most of the money comes out of @explodi ’s pocket, which is sad, because he probably has better things to spend it on.

[2017-10-31 22:19] Shiny-andKittens opened #195 "We should try to get some mining services attached to Bitquest"
After that, we would get hourly/daily BTC sent to the wallet and we wouldn’t have to worry about the server running out of BTC or about @explodi having to empty his pockets to fund BQ.

[2017-10-31 23:01] syrianrue commented on #195
you want a general purpose server to mine crypto? thats terribly inefficient and would just waste money. someone would need to buy some cloud mining contracts (usually a scan), or buy some asics.

[2017-10-31 23:44] MichaelPriebe commented on #195
There's many plugins that let you put advertisements in the server even billboards using maps in-game. I would love to see ads if that would increase our gains and/or help @explodi out.

[2017-11-01 12:16] Shiny-andKittens commented on #195
@syriansue I think a service called Genesis-Mining is more legitimate, and @burntuno uses something (can’t recall name) that he says he gets payed for

[2017-11-01 12:19] radostin04 commented on #195
@MichaelPriebe Here's the thing - @explodi wants as little third-party code running on the server. Currently, the only third-party plugin installed (To my knowledge) is NCP. And also - I don't think @explodi would be too happy advertising thigns in game. Hell, he doesn't even advertise another game that his team is making.

[2017-11-01 12:28] syrianrue commented on #195
ok lets use the example of buying from genesis.

https://www.genesis-mining.com/pricing
so lets say we buy a 2,500 gh/s contract for 350$
that will generate a projected Ƀ 0.00001298 /month

heres a link to the bitcoin profitability calculator i used https://www.cryptocompare.com/mining/calculator/btc?HashingPower=2500&HashingUnit=MH%2Fs&PowerConsumption=0&CostPerkWh=0

[2017-11-01 12:29] radostin04 commented on #195
Doesn't Genesis havesome sort of maintenance fee? And also, that's only 13 bits a month. Not very much.

[2017-11-01 12:31] syrianrue commented on #195
yep. thats the point

[2017-11-01 12:58] williamronn commented on #195
Don't want to disturb your conversation but if you look at [genesis-mining's](https://www.genesis-mining.com/pricing/) website it shows they are out of stock on bitcoin miners atm :| Just saying that could be a key part of this.

[2017-11-01 13:08] fumasa commented on #195
why not use some adjustment of the process Pirate Bay is using? maybe limiting the amount of cpu used and that kind of control?

[2017-11-24 04:30] ScienceDemon opened #197 "[plugin] where and how do i allow super admin privaleges?"
while running my spigot server with bitquest, i got this info:
[21:00:43 INFO]: Warning: You haven't designated a super admin. Launch with ADMIN_UUID env variable to set.
How and in what file do I set this with my player uuid?

[2017-11-24 04:32] ScienceDemon commented on #197
just asking because it doesn't say how to in the readme.md file under the build instructions

[2017-11-24 06:06] theraccoonbear commented on #197
Found this by searching this repo for ADMIN_UUID

https://github.com/bitquest/bitquest/blob/70ef4b379d73f3e5fe94357e22310b7a8ece5084/docker-compose.yml#L8

[2017-11-24 10:21] ScienceDemon commented on #197
okay, so what i was doing was i was adding my uuid to /src/main/com/bitquest/bitquest/Bitquest.java
thanks a ton

[2017-11-24 10:38] ScienceDemon commented on #197
sorry, i spoke too soon:
Loading libraries, please wait...
[03:28:37 INFO]: Starting minecraft server version 1.12.2
[03:28:37 WARN]: To start the server with more ram, launch it as "java -Xmx1024M -Xms1024M -jar minecraft_server.jar"
[03:28:37 INFO]: Loading properties
[03:28:37 INFO]: Default game type: CREATIVE
[03:28:38 INFO]: This server is running CraftBukkit version git-Spigot-3d850ec-f46cc

[2017-11-25 02:37] ScienceDemon commented on #197
i just took the time to realise: I'm on an ARM architecture of raspbian linux so... this plugin doesn't work on raspberry pi 3.

[2017-11-25 02:37] #197 closed

[2017-11-26 01:53] ScienceDemon opened #198 "i'm still running into problems with the plugin"
I have the built release branch loaded, but it keeps crashing every time it finishes loading the server
I have multiverse core, multiverse portals and health bar as my other plugins
my specs are: motherboard: raspberry pi 3 w/ clear case
my OS is the full version of Raspbian (Debian edit for raspberry pi)
console log is as follows:
Loading libraries, please wait...
[18:44:58 INFO]: Starting minecr

[2017-11-26 10:48] Chocoman12 commented on #198
Looak at your ports, they may be close, sorry for my English, i'm french so...

[2017-11-26 15:11] juanj commented on #198
I can see two things form your log
1. `[18:45:39 INFO]: problem connecting with bitcoin node` -> BitQuest uses a full Bitcoin node to check balances and generate Bitcoin addresses. It it is failing to get an address for the player when it connects:
 `[18:45:39 WARN]: java.net.ConnectException: Connection refused`
`[18:45:39 WARN]: at com.bitquest.bitquest.Wallet.getAccountAddress(Wallet.java:124)`

[2017-11-26 15:17] juanj commented on #197
I don't see why it would not work in a pi3. If you can run java, you can run BitQuest.
I think is more a config problem.

[2017-11-28 05:49] ScienceDemon commented on #198
@Chocoman12 the port is obviously wrong as well as the 'localhost' address. my os is on a 16 Gigabyte microSD card, so i can't run a bitcoin node. as for the ram, in pi3, there is ONLY a 1gb ddr2 chip on it.
@juanj
thanks:

was actually because the default node address in the release branch are localhost:18332

[2017-11-28 05:52] ScienceDemon commented on #198
i get why whoever made it localhost:18332 did it: they didn't want to be tracked by people

[2017-11-28 05:52] #198 closed

[2017-12-03 22:36] ScienceDemon opened #199 "best solution for issue #195"
@explodi , would you be so kind as to email me at sciencegamesmain@gmail.com so i can tell you a plan to fix issue #195 but with the words 'mining services' replaced with 'miners'?

[2017-12-03 22:39] theraccoonbear commented on #199
@ScienceDemon why don't you just post your proposal here?

[2017-12-03 22:59] syrianrue commented on #199
theres no "fix". issue #195 was one persons idea for someone else to spend money on mining to provide the bq players with free bitcoin. wont happen.

[2017-12-05 01:13] ScienceDemon commented on #199
@syrianrue , @theraccoonbear and @explodi , nevermind then: i was going to mine myself then transfer a small SOME to the loot wallet. keywords being myself and some. sorry for bothering you guys. other unfortunate thing was that I don't have proper mining hardware. so yeah.

[2017-12-05 01:13] ScienceDemon commented on #199
i might go get some mining hardware, though.

[2017-12-15 01:33] #199 closed

[2017-12-31 17:16] crankycrypto commented on #189
Why not give the balance to the banned player? It is worth real money and there would be a conflict of interest to ban players just to increase loot.

[2017-12-31 19:44] explodi commented on #189
Banned players who request balance can contact the mods and have their balance withdrawn if not stolen. I agree with @crankycrypto on the incentive problem for banning players, and similar drama has happened before.

[2017-12-31 19:44] #189 closed

[2018-01-03 19:09] doncullen opened #205 "New players without compass get trapped"
IF a new player joins the server, explores the Market, heads to the area under the tree farm (the mega map area that has stairs leading to bedrock [-171 1 16]) while having no compass, they get trapped in the bedrock with no way out -- even worse if nobody is able to help the new player.  Not a good starting experience.  I'm still trapped there at the time of this post.  There's five players on, a

[2018-01-03 19:10] dildosex commented on #205
yh

[2018-01-03 19:16] doncullen commented on #205
Update: olizbu was able to hunt me down and toss a compass my way.  Before someone asks, yes, I checked the compass dispenser prior to exploring, and it was empty.  Ditto for bed and sword dispenser.

[2018-01-03 19:17] theraccoonbear commented on #205
I don't totally disagree, but 1) if you don't read the signs at the start, you probably are not prepared to play, and 2) you will starve, eventually.

I suspect the annoyance of waiting to starve will serve as a great educational aid.

[2018-01-03 19:18] dildosex commented on #205
but if ur at a hole u wont die

[2018-01-03 19:22] theraccoonbear commented on #205
If you move around and jump, you will starve. I get it, it takes time and it's annoying, but it will work.

[2018-01-03 20:50] crankycrypto opened #207 "I am looking for a developer for bitquest."
Hello fellow Bitquest folks.

I am a crypto day trader and an internet marketer.

I have set up a bitquest server and it isn't working completely.

I would like to hire and/or partner with a developer to set up the server and admin.

I have 10+ years marketing experience, 3 twitch professional gamers with a huge flowing and another professional gamer with 17K followers on instangram.

I am interes

[2018-01-03 20:54] theraccoonbear commented on #207
This is really not the right forum for a job/business offer.  This is a code repository for issue (bug/feature/etc) tracking.  I would personally suggest posting to the BQ reddit, Slack, or Discord.

[2018-01-03 20:55] explodi commented on #207
This space is used for discussing and review code issues and not a contact form. You can email me at bitquest@bitquest.co if you want help setting up your bitquest server

[2018-01-03 20:55] #207 closed

[2018-01-03 21:47] crankycrypto commented on #207
Gottcha thanks.

[2018-01-10 19:11] dildosex opened #208 "Land transfer is buggy af"
/land transfer not working properly (atleast for longer usernames), sign is limited to 15 characters. Sign with ^abandon^ got a pretty big delay as well.

[2018-01-10 19:12] dildosex opened #209 "Minimum transaction is 2k doge"
Please decrease it to something like 50 or 100

[2018-01-10 19:13] dildosex opened #210 "Dmitri named horse lost"
Pls help

[2018-01-10 19:14] dildosex opened #211 "Sheep farm is broken"
Also, donnie and putin and probably vladimir sheeps are as well lost too!

[2018-01-10 19:16] dildosex commented on #195
Ya

[2018-01-10 19:16] theraccoonbear commented on #209
Doge?  you mean BTC?  I believe the minimum is so high because the fees are so high.  Sending 50 bits w/ a 1000 bit fee is a little silly.

[2018-01-10 19:16] dildosex commented on #209
I am talking about dogequest, its 2k doges

[2018-01-10 19:18] theraccoonbear commented on #209
Why on earth are you posting about DogeQuest on the BitQuest repo?

[2018-01-10 19:19] dildosex commented on #209
Didn't know that dogequest existed on github

[2018-01-10 19:19] williamronn commented on #209
It runs on the same code so that's why explodi told up to post it here

[2018-01-10 19:23] dildosex commented on #209
Yea, get ur ass up to date raccoon

[2018-01-10 19:38] piotrulos commented on #209
Doge fee is usually only 1 Doge, so 2k is overkill, with that low fee it could even be only 10 doge minimum.

[2018-01-10 21:27] explodi commented on #209
transfer limit on dogequest lowered to 100.

[2018-01-10 21:27] #209 closed

[2018-01-23 03:45] explodi commented on #211
Please post again without the offensive nickname. I won't go into the reasons why, but there are many. I will document this in a "rules" section of the website to be created. Thanks for understanding

[2018-01-23 03:45] #211 closed

[2018-01-23 05:43] syrianrue commented on #211
DS, are you the one the bred 200 sheep at spawn? we try to keep the mob count below 50 or so to ease up on the lag.

[2018-02-02 16:56] wakiyamap opened #213 "bitcoind can't connected."
Hi.
I want to set up a bitquest server, but I get the following error......

I have two question.
1.Which branch should I use?
2.Is this setting for bitcoin.conf correct?
[code]

thanks

[2018-02-07 16:23] Jorropo commented on #213
"Connection refused (Connection refused)" this isn't a bitquest error, your port are just close, verify bitcoind configuration (problem should be here)

[2018-02-07 22:49] wakiyamap commented on #213
@Jorropo thanks

I solved.
I am executing `sudo docker-compose up` at startup.
I successfully added docker's address to rpcallowip in bitcoin.conf.

[2018-02-07 22:49] #213 closed

[2018-02-19 22:11] sicixevu commented on #208
lost out on many of land because of this, thanks devs. Been more than a month and not even a reply,

[2018-03-03 11:12] williamronn commented on #208
#216 think it got fixed with this Pull request

[2018-03-14 14:11] games647 opened #217 "Java 9 compatibility"
I found out that you are using `sun.misc.Base64Encoder`, but this class no longer exists in Java 9. Instead you could use the `java.util.Base64` class which was added in Java 8. I thought about making a pull request, but it's unclear if your plugin already compiles against Java 8. (No details in build script)

[2018-04-30 23:47] raspi0124 opened #219 "Failed to set the gamemode when trying to change to creative."
When I execute "/gamemode 1" it always returns me "Failed to set the gamemode of USERNAME".
How can I fix that? or where in this code defines that?

[2018-05-01 00:02] explodi commented on #219
Are you running on docker? Did you set the ADMIN_UUID variable?

[2018-05-01 14:55] raspi0124 commented on #219
I'm not running on Docker and even I set ADMIN_UUID, still same result.
![image](https://user-images.githubusercontent.com/22224201/39477741-78bd7328-4d60-11e8-8682-c78dab1ba294.png)

[2018-05-09 01:57] juanj commented on #219
Game mode was disable for security reasons. You can comment the line `222` of the file `EntityEvents.java` to re enable it.

[2018-05-22 09:15] raspi0124 commented on #219
Thanks!

[2018-05-22 09:15] #219 closed

[2018-05-23 11:47] Jorropo commented on #217
I do this change in #227

[2018-05-23 19:32] #210 closed

[2018-05-23 19:34] #23 closed

[2018-05-23 19:35] #25 closed

[2018-05-23 19:36] #32 closed

[2018-05-23 19:36] #29 closed

[2018-05-23 19:37] #33 closed

[2018-05-23 19:37] #41 closed

[2018-05-23 19:37] #42 closed

[2018-05-23 19:37] #54 closed

[2018-05-23 19:37] #65 closed

[2018-05-23 19:37] #89 closed

[2018-05-23 19:37] #92 closed

[2018-05-23 19:37] #96 closed

[2018-05-23 19:37] #97 closed

[2018-05-23 19:37] #100 closed

[2018-05-23 19:37] #102 closed

[2018-05-23 19:37] #103 closed

[2018-05-23 19:37] #105 closed

[2018-05-23 19:37] #106 closed

[2018-05-23 19:37] #109 closed

[2018-05-23 19:37] #137 closed

[2018-05-23 19:37] #139 closed

[2018-05-23 19:37] #140 closed

[2018-05-23 19:37] #141 closed

[2018-05-23 19:37] #143 closed

[2018-05-23 19:37] #149 closed

[2018-05-23 19:37] #150 closed

[2018-05-23 19:39] #156 closed

[2018-05-23 19:39] #157 closed

[2018-05-23 19:39] #158 closed

[2018-05-23 19:39] #160 closed

[2018-05-23 19:39] #161 closed

[2018-05-23 19:39] #167 closed

[2018-05-23 19:39] #178 closed

[2018-05-23 19:39] #184 closed

[2018-05-23 19:39] #194 closed

[2018-05-23 19:39] #195 closed

[2018-05-23 19:45] catapim opened #228 "name of land not always showing"
when i try to break blocks outside my land, the game says "you may not break blocks here!" without showing the name of the land i tried to break.

[2018-05-24 01:12] catapim commented on #228
it works now

[2018-05-24 01:12] #228 closed

[2018-05-24 13:11] #217 closed

[2018-05-24 13:50] Jorropo opened #230 "Require test"
https://github.com/bitquest/bitquest/blob/32691b8751595d582e9758cf565cc4cd5f2640db/src/main/java/com/bitquest/bitquest/BitQuest.java#L273
A "new" is supposed be before "java.util.Base64.getEncoder()" (This code shouldn't compile but it does).

[2018-05-24 14:03] theraccoonbear commented on #230
pretty sure that's a static method and not a constructor

[2018-05-24 14:28] juanj commented on #230
Indeed. Is a static method https://docs.oracle.com/javase/8/docs/api/java/util/Base64.html#getEncoder--

[2018-05-24 22:09] Jorropo commented on #230
Ok, thx I wasn't knowing (my english is so Frenchly) that.
I close.

[2018-05-24 22:09] #230 closed

[2018-06-04 16:38] catapim opened #234 "fix golden apple price"
the golden apple (not enchanted) costs 20 doge, not 5 as announced.

[2018-06-04 17:59] catapim commented on #234
in doge, villagers say it costs 5, but when you purchase, the price is 20.

[2018-06-04 19:22] AltQuest commented on #234
I see 2 possible fixes.
1) need to get enchantment data for apple when checking items. If enchanted than 20 if not than 5.
2) Or just remove 1 of the apples..

[2018-06-04 21:16] syrianrue opened #235 "[feature request] collectible maps"
add a way to disable copying a map, then mapart can be a unique collectible item.

[2018-06-05 01:34] catapim opened #236 "create HelloWorldCommand"

[2018-06-05 22:58] Jorropo commented on #236
why it should ?

[2018-06-05 23:40] AltQuest commented on #236
What??? No description??? What's going on here???

[2018-06-05 23:46] catapim commented on #236
just to show new contributors the structure of a new command in case somebody wants to contribute. of course it won't have effects in the game. i will do it so don't worry.

[2018-06-05 23:47] catapim commented on #234
we removed one apple. @explodi fixed it. ty all.

[2018-06-05 23:47] #234 closed

[2018-06-08 01:56] AltQuest commented on #205
Add this to onPlayerLogin() in EntityEvents.java:

if(!(BitQuest.REDIS.exists("name:"+player.getUniqueId().toString()))) {
	player.getInventory().addItem(new ItemStack(Material.COMPASS,1));
        player.sendMessage(ChatColor.GREEN + "Use a Compass to Teleport back here to spawn.");
}

[2018-06-12 06:11] explodi opened #238 "creeper explosions affect item frames"

[2018-06-14 23:01] syrianrue commented on #238
throwing ender pearls at them, or running into them with boats seem to get around protection too

[2018-06-14 23:03] #235 closed

[2018-06-24 00:41] BrightSkyz opened #240 "Multiple currencies on one server"
I am suggesting that this adds support for multiple cryptocurrencies on one server, basically on the sidebar it will show all of them that are setup for the server and it shows balance. Another change would be adding a /change [currency] command which changes the currency you earn.

[2018-06-24 13:40] Jorropo commented on #240
I all ready thinking about that but this will be very difficult.

[2018-06-24 14:06] AltQuest commented on #240
This is actually something I've been wprking on. I already have a test server but not complete. It uses /currency <emerald|btc|ltc|doge> I'm trying to figure out a better way to code it more dynamically but some of that code could already be used to change between emeralds and btc..

[2018-07-08 18:04] AltQuest commented on #205
https://github.com/bitquest/bitquest/pull/241 has a fix for this also. it gives new players a compass

[2018-07-08 18:06] AltQuest commented on #236
whats the point of this? do you wnat a literal /helloworld ? and it just gives a bunch of server info??? i could do this...

[2018-07-09 00:45] AltQuest commented on #236
I can do it no problem. I just need to know what is expected of the command?
/helloworld
"Welcome to servername the currency is whatever"
"Here are some useful commands"
"You can get loot this way"
Idk what is wanted for the command? The more info the better can take stuff put if too much.

[2018-07-09 00:49] AltQuest commented on #236
Or is it not that. Is it literally like a ghost command just as an example? I'm just not understanding what the use is...

[2018-07-17 08:49] CNKManga opened #242 "Three ideas"
1) right click on a bed while holding a compass to change where the compass teleports you similar to world of warcraft
2) a sponge version of the plugin
3) place a bed in each town for the first idea.

[2018-07-17 11:20] AltQuest commented on #242
For #1 I'm considering making it so the first teleport location is free, and can add more for bits or whatever.

[2018-07-18 02:30] AltQuest opened #243 "Add XP bottles to market"
trades.add(new Trade(new ItemStack(Material.EXP_BOTTLE,1),10));

[2018-07-18 13:17] Jorropo commented on #243
I think a price of 10 bottle for 1 money is better.

[2018-07-18 14:11] AltQuest commented on #243
trades.add(new Trade(new ItemStack(Material.EXP_BOTTLE,10),1));

[2018-07-21 16:58] CNKManga commented on #242
i think the price of extra player teleport locations will increase the more they have, but it's up to you.

[2018-07-21 17:47] CNKManga commented on #242
oh, and a /compass command that does this:
1. checks to see if a player has any compasses in their inventory
either 2a. if a compass is found, it wont add a compass to their inventory
or 2b. if they dont have a compass in their inventory, it will add a compass to their inventory
after 2b. 3. there's a cooldown where they cant use the command for some time probably 24 hours

[2018-07-21 18:35] AltQuest commented on #242
There is a /spawn command. So technically compasses could be removed for that aspect. But I think is left in for various reasons. I personally use my compass instead of /spawn

[2018-07-24 04:03] AltQuest commented on #205
this can be closed i think?

[2018-07-24 04:07] AltQuest commented on #208
this is current code:  "} else if (name.startsWith("transfer ") && name.length() > 9) {"

can this be closed also?

[2018-07-29 22:06] #205 closed

[2018-08-08 01:56] AltQuest opened #247 "REDIS - SQL change?"
just concerned for anyone running a previous server, if they would be able to upgrade smoothly? are the transfer tools going to stay in?

[2018-08-14 00:47] AltQuest opened #248 "if blockchain connected not possible to get emerald loot"
https://github.com/bitquest/bitquest/blob/f0a1765ad8b6f58ccef6805c4590fa6d94695741/src/main/java/com/bitquest/bitquest/events/EntityEvents.java#L427

change to

if (BitQuest.REDIS.get("currency"+player.getUniqueId().toString()).equalsIgnoreCase(BitQuest.DENOMINATION_NAME)) {

[2018-08-14 00:53] AltQuest opened #249 "if blockchain is DENOMINATION_NAME, or ems if no blockchain"
https://github.com/bitquest/bitquest/blob/f0a1765ad8b6f58ccef6805c4590fa6d94695741/src/main/java/com/bitquest/bitquest/events/EntityEvents.java#L126

fix my mistake here :/ so
change to

if (BitQuest.BLOCKCYPHER_CHAIN != null) {

[2018-08-15 00:07] Arpetuos opened #250 "Renting lands"
Here is a new idea for Bitquest / Dogequest.

**People may be able to lease their claims, or a space in their claim (although the second option seems difficult to code) for a monthly rent.**

This upgrade would allow players to use the interesting claims especially near spawn, and inactives players can still have their lands, but while they are not using them, it can be useful to someone else, whi

[2018-08-15 00:09] Arpetuos commented on #250
One main principle in Economics, is : the more the money flows, the more value is added. Moving form one hand to another, the money will have more chance to be spent in the shop, or leasers will buy new lands with the rents.

[2018-08-15 01:30] AltQuest commented on #250
i like this idea... have thought about it before... would need to be some sort of sign implementation. so maybe sign has:
"$days $price
X from-to
Y from-to
Z from-to"
and maybe have to click the sign 2 times to confirm. like first click with bell & notice in chat to click again to accept...

[2018-10-25 23:47] AltQuest opened #251 "- land permissions / transfers isn't working"
- D4rk did a land transfer to me using a sign with ^transfer DCThea^ on it and the land changed names but nothing else - he still has permissions to do whatever to it - even after the last server reload, I tried to change permission as if it was mine and it just says that the blockchain is busy, try again in 5 seconds. regardless how long you wait - same error - it should be telling me the land is

[2018-10-25 23:47] explodi commented on #242
closing this issue and opening a new one for each idea

[2018-10-25 23:47] #242 closed

[2018-10-25 23:47] explodi opened #252 "right click on a bed while holding a compass to change where the compass teleports you similar to world of warcraft"

[2018-10-25 23:47] explodi opened #253 "a sponge version of the plugin"

[2018-10-25 23:47] AltQuest opened #254 "- villager purchasing. Isn't working."
. I click on something to buy and get an error. nothing is deducted from wallet and nothing goes into my bag.

[2018-10-25 23:47] explodi opened #255 "place a bed in each town"

[2018-10-25 23:48] #236 closed

[2018-10-25 23:48] AltQuest opened #256 "Spookymode makes server slow"
needs to be modified(last week only?) Or removed entirely?
lots of player complaints

[2018-10-25 23:49] AltQuest opened #257 "- lag and rubberbanding -"
this has gotten worse since the last patch. I have had several instances where I just walk over to the Welcome Center from spawn and at any one point I just kind of "stutter" in place as I can no longer move forward. This lasts from about 10 seconds to about 30 seconds now. It's really bad with the Spooky Event going on. This is not limited to the areas around spawn. I have an area about 8k out an

[2018-10-25 23:49] AltQuest opened #258 "recomended"
So I would recomend
Special enchantments (Not vanilla for crypto villagers)
Special potions (Same as above)
Modify Spooky Mode
Fix PvP in End dimension
Fix so you can right click end portal frame for eye of ender without teleporting
Or buy a special eye of ender for emeralds/crypto

[2018-10-25 23:55] explodi opened #259 "open the end in adventure mode, pvp enabled"

[2018-10-25 23:56] explodi opened #260 "player shops"

[2018-10-27 19:16] QuintLeo commented on #256
Removed entirely. The massive lag spikes and near-constant lag in general make the server unplayable.
It says a lot when there have been NO other users on for 3 weeks every day when I've logged on (with ONE exception of ONE other user who was AFKing).

[2018-10-27 19:17] QuintLeo commented on #257
This is probably part of the same issue as 256.

[2018-10-28 07:21] explodi opened #261 "Special enchantments (Not vanilla for crypto villagers)"

[2018-10-28 07:21] explodi opened #262 "Special potions"

[2018-10-28 07:21] explodi opened #263 "Modify Spooky Mode"

[2018-10-28 07:21] explodi opened #264 "Fix so you can right click end portal frame for eye of ender without teleporting"

[2018-10-28 07:21] explodi opened #265 "buy a special eye of ender for emeralds/crypto"

[2018-10-28 07:28] explodi commented on #247
All user account information will be stored in PostgreSQL to allow better secirity and point-in-time backups.
The bitquest Docker image supports the automatic creation of a instance+database via links (check the docker-compose.yml file for an example)

Managed databses like Amazon RDS should also work with environment variables.

[2018-10-28 07:29] syrianrue commented on #260
this would be great. i think its something people have wanted since bq started

[2018-10-28 07:30] syrianrue commented on #264
yes, please enable the end. even if it has to be with special eyes of ender. could even be done simply by selling eyes by villager, but disabling the recipe to create them on your own.

[2018-10-28 07:50] syrianrue commented on #261
theres plenty of things you could add this way. a pickaxe that gives you haste 3 while holding it. a walking stick that gives you speed 3 while holding it. a stick with knockback 20. turn off keep inventory, but sell an item that allows keep inventory on death, or maybe keep buffs on death. armor that adds resistance buff >3. a hold item that gives luck. efficiency 6 books.

[2018-10-28 15:10] AltQuest commented on #261
Keepinvintory needs to be true becuse it would be unfair for a player to buy something at the market and lose it because of that.

[2018-10-29 02:31] AltQuest opened #266 "easy pvp stuff to fix"
can uncomment this to display when players are in pvp chunks:
https://github.com/bitquest/bitquest/blob/e528f55ebedd34820065d321ba4fd053286fe007/src/main/java/com/bitquest/bitquest/events/EntityEvents.java#L258

make this true:
https://github.com/bitquest/bitquest/blob/e528f55ebedd34820065d321ba4fd053286fe007/server.properties#L16

[2018-10-29 12:24] explodi opened #267 "villager purchasing. Isn't working."
"I click on something to buy and get an error. nothing is deducted from wallet and nothing goes into my bag."
- thea on discord

[2018-10-29 12:25] explodi opened #268 "land permissions / transfers isn't working"
report:

"4rk did a land transfer to me using a sign with ^transfer DCThea^ on it and the land changed names but nothing else - he still has permissions to do whatever to it - even after the last server reload, I tried to change permission as if it was mine and it just says that the blockchain is busy, try again in 5 seconds. regardless how long you wait - same error - it should be telling me the

[2018-10-29 12:25] explodi opened #269 "walking from a pathed block to a normal block is glitchy and makes you hop like an idiot"
report: "I did try to point this out on the Beta server but you thought it was due to several seed changes for the plugin. It has now shown up on the bit server (live) the only way to get around is to either dig them up and replace them as a normal dirt / grass block or jump up and off like you're going to a block higher "

[2018-10-29 12:26] explodi opened #270 "lag and rubberbanding"
this has gotten worse since the last patch. I have had several instances where I just walk over to the Welcome Center from spawn and at any one point I just kind of "stutter" in place as I can no longer move forward. This lasts from about 10 seconds to about 30 seconds now. It's really bad with the Spooky Event going on. This is not limited to the areas around spawn. I have an area about 8k out an

[2018-10-30 00:13] AltQuest opened #271 "upgradewallet?"
ash-
upgradewallet used to just fail, now it says i dont have any balance in my old wallet or its already migrated

[2018-10-30 00:13] AltQuest opened #272 "balance issue?"
ash-
on oct 13 i deposited 400 bits, but was only credited 197 (is there a fee just to deposit?). today i buy some land for 100 bits and my balance goes down to 0. also trying to buy claimed land gives you green message saying you renamed the land. and renaming land you own is broken too

[2018-10-30 00:14] AltQuest opened #273 "/currency issue?"
ash-
/currency emerald still says you switched currencies, but doesnt work

[2018-10-30 02:58] AltQuest opened #274 "No /home or /bed ?"
-ash
oh, might want to open up a github issue. theres no /home or /bed command

[2018-10-31 02:48] explodi commented on #270
it's supposedly fixed now. will reopen if it's not the case

[2018-10-31 02:48] #270 closed

[2018-10-31 02:48] #267 closed

[2018-10-31 13:33] AltQuest opened #275 "/send on DQ broken?"
Ash-
/send seems to be broken on DQ

[2018-11-01 12:22] AltQuest opened #276 "Gamemode issues"
Ash-
so every time i cross a chunk border it says "sorry changing gamemode are not allowed"

[2018-11-11 01:54] AltQuest opened #277 "/currency broken"
I had 0 balance on entry. And I did /currency emeralds and it showed my doge balance after that but would not change to emeralds.

[2018-11-11 01:55] AltQuest opened #278 "Loot availability?"
Do the wallets have loot? If not are they defaulting to give emeralds?

I killed mobs for a while and fot nothing..

[2018-11-11 02:05] AlitheiaLynn opened #279 "purchasing from villagers is bugged on BitQuest"
Click to purchase something and your entire wallet is emptied. If you try to update it, nothing happens.

This is an issue reported to me by Tracker. He said he purchased an elytra and now has no bits. He did have more then the price of the elytra, so it should have just deducted the 200, but it emptied his wallet. I did not get how much he had to begin with. Not totally sure if he got the item ei

[2018-11-11 02:10] AlitheiaLynn opened #280 "Villager spawn rate needs to be lowered."
Is there a way to slow down the spawn rate of villagers at spawn (Doge and Bit) as they are over running spawn. I can kill them off on Doge (mod ability) but on bit it's just chaos. I have no powers there and they just keep spawning in happy as you please.

I would prefer not to use a kill all villager command as those villagers that people have worked hard to collect for their bases would rage if

[2018-11-11 02:15] AlitheiaLynn commented on #274
SO FAR - The /home command has been working beautifully on both Doge and Bit. At least I haven't heard of anyone getting tp'd to anywhere random or anything like that.

Also /spawn has been working wonderful as well.

Both work fine from Nether and The End. :)

[2018-11-11 02:16] syrianrue commented on #274
yes, you are correct. this is corrected and the issue should be closed

[2018-12-10 21:29] AltQuest opened #282 "Removed nether plots?"
I see new code has 'chunk' instead of chunk so its static and not dynamic...

[2018-12-12 23:29] AltQuest opened #283 "DQ /currency emerald says it works but see no changes?"
it lets me use /currency emerald or /currency doge but doesnt change anything on scoreboard.

[2018-12-12 23:30] AltQuest opened #284 "DQ still reads "BitQuest""
DQ still reads "BitQuest" on scoreboard

[2018-12-12 23:35] AltQuest opened #285 "are prices right on DQ???"
100 doge minimum at villager?

[2018-12-13 02:01] u8iuui11 opened #287 "Crops on claimed lands can be trampled be other players"

[2018-12-26 21:35] masecla22 commented on #287
Issue is fixed in #288 pull request. Waiting on @explodi to merge!

[2018-12-26 21:37] masecla22 commented on #278
Loot is chance based. Also, you won't recieve loot if the wallet is empty, and there isn't a way to check loot in the wallet. (if there was, players would grind up the wallet). Also, chances are pretty slim eitherway.

[2018-12-26 21:38] masecla22 commented on #274
You can use an ender eye to teleport yourself to the bed and a compass to teleport to spawn. Both can be crafted or purchased from a villager.

[2018-12-26 22:36] AlitheiaLynn commented on #274
Actually neither of those items work any further. Both /home gets you to bed and /spawn get you to spawn. There is no longer need for eye of ender or compass. :)

This whole thing is now old and needs to be closed :)

[2018-12-27 07:58] masecla22 commented on #274
Ah, I was just trying to get issues closed '._.
@explodi This can be closed.

[2019-01-17 15:24] #287 closed

[2019-01-17 15:24] #283 closed

[2019-01-17 15:24] #263 closed

[2019-01-17 15:25] #256 closed

[2019-01-17 15:25] #257 closed

[2019-01-17 15:26] explodi commented on #269
This was fixed a few months ago. closing

[2019-01-17 15:26] #269 closed

[2019-01-17 15:27] #276 closed, assigned to nobody

[2019-02-07 10:40] masecla22 commented on #272
When did this happen? Details? IGN? Wallet?

[2019-03-09 06:06] QuintLeo commented on #280
Have any of the mods checked to see if there's a broken villager spawner near spawn on DQ?
It seems like this issue started close to the time that Stevywar built their "market" near spawn.

[2019-03-09 06:08] QuintLeo commented on #274
The only issue with /home now seems to be a Minecraft issue, where sometimes it will dismount you BELOW the level of your bed when porting to it, or below the level of your minecart when you dismount from it.

[2019-03-09 06:09] QuintLeo commented on #255
We have towns now?

[2019-03-09 06:12] QuintLeo commented on #238
This seems to be part of the "creeper explosions affect ITEMS" in general issue.

[2019-03-17 05:59] syrianrue opened #289 "/land transfer <username>"
/land transfer <username> seems to be broken. i just says "cannot find player <username>". i didnt have a sign to try with

[2019-04-08 19:11] QuintLeo commented on #289
Land purchases also appear to be broken on Bitquest - keeps saying it can't complete try again later.
Have tried both /land  and a sign.

[2019-08-31 06:11] Mikilis opened #290 "I can't connect to sever."
I can't connect to play.bitquest.co sever.
I use Minecraft 1.13.2.

[2019-08-31 17:03] ShayGaming24 commented on #290
That's because the server is not up yet. It should be released in less than 2 months.

[2019-08-31 17:04] Mikilis commented on #290
Oh, no!

[2019-08-31 17:04] #290 closed

[2020-06-12 11:31] shishir9747 opened #291 "Can't make it jar file"
It show Error:(15,22) java: package javax.xml.bind does not exist on intellij

[2020-06-27 12:33] shishir9747 commented on #289
how did you build jar file? I did mvn package -B but it showing
 COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] No compiler is provided in this environment. Perhaps you are running on a JRE rather than a JDK?
[INFO] 1 error
[INFO] -------------------------------------------------------------
[INFO] --------------------------------------------------

[2020-06-27 12:33] shishir9747 commented on #290
how did you build jar file? I did mvn package -B but it showing
COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] No compiler is provided in this environment. Perhaps you are running on a JRE rather than a JDK?
[INFO] 1 error
[INFO] -------------------------------------------------------------
[INFO] ---------------------------------------------------

[2020-06-27 12:34] shishir9747 commented on #287
how did you build jar file? I did mvn package -B but it showing
COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] No compiler is provided in this environment. Perhaps you are running on a JRE rather than a JDK?
[INFO] 1 error
[INFO] -------------------------------------------------------------
[INFO] ---------------------------------------------------

[2020-06-27 12:34] shishir9747 commented on #283
how did you build jar file? I did mvn package -B but it showing
COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] No compiler is provided in this environment. Perhaps you are running on a JRE rather than a JDK?
[INFO] 1 error
[INFO] -------------------------------------------------------------
[INFO] ---------------------------------------------------

[2020-06-27 20:51] QuintLeo commented on #289
I'm not running Bitquest, I'm just one of the folks that used to play on the old Bitquest and later Dogequest servers.
     On Saturday, June 27, 2020, 05:33:24 AM PDT, shishir9747 <notifications@github.com> wrote:

how did you build jar file? I did mvn package -B but it showing
COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] No compiler is provided

[2020-07-09 06:31] shishir9747 commented on #289
Can you help me to create a jar file pls. or a server which use bitquest

[2020-07-09 10:55] QuintLeo commented on #289
No I can't.
I don't run such a server nor have I ever looked at the code itself.
I would suggest you try to contact "exploti" the original author, or BitcoinJake09 who is doing active development work AND running a server on a fork of the code.     On Wednesday, July 8, 2020, 11:31:20 PM PDT, shishir9747 <notifications@github.com> wrote:

Can you help me to create a jar file pls. or a server which

[2020-07-09 18:54] BitcoinJake09 commented on #289
BitcoinJake09@gmail.com

[2020-07-25 13:29] Eligioo commented on #291
JAXB is deprecated since Java 9 and removed since Java 11

[2020-07-25 15:12] BitcoinJake09 commented on #291
Compile with java 8

[2021-01-26 13:57] donthamon opened #292 "COMPILE ERROR & MULTIPLE ERRORS"
web_1    |  * Serving Flask app "app.py"
web_1    |  * Environment: production
web_1    |    WARNING: This is a development server. Do not use it in a production deployment.
web_1    |    Use a production WSGI server instead.
web_1    |  * Debug mode: off
web_1    | Usage: flask run [OPTIONS]
web_1    |
web_1    | Error: Could not import "app".
minecraftcompose_web_1 exited with code 2

[2021-01-26 16:38] donthamon commented on #292
[16:37:30 INFO]: Checking that POSTGRES_PORT_5432_TCP_PORT envoronment variable exists...

[16:37:30 INFO]: Please set the POSTGRES_PORT_5432_TCP_PORT environment variable

[16:37:30 WARN]: JDBC URL invalid port number: null

[16:37:30 WARN]: java.sql.SQLException: No suitable driver found for jdbc:postgresql://null:null/null?ssl=true&sslmode=require

[16:37:30 WARN]: at java.sql.DriverManager.get

[2021-01-27 00:59] donthamon commented on #292
#22 15.09 [INFO] 4 warnings
#22 15.09 [INFO] -------------------------------------------------------------
#22 15.09 [INFO] -------------------------------------------------------------
#22 15.09 [ERROR] COMPILATION ERROR :
#22 15.09 [INFO] -------------------------------------------------------------
#22 15.09 [ERROR] /bitquest/src/main/java/com/bitquest/bitquest/Wallet.java:[15,22] package javax

[2021-01-27 00:59] #292 closed

[2021-01-27 01:00] donthamon opened #293 "Cant Make Jar"
Please help I can't compile this source

[2021-01-27 10:01] donthamon commented on #291
fixed close please

[2021-01-27 10:01] #293 closed

[2021-01-27 18:31] #291 closed

[2021-01-27 18:32] donthamon commented on #291
Send me some bitcoin

On Wed, Jan 27, 2021, 13:31 shishir9747 <notifications@github.com> wrote:

[2021-01-27 18:34] BitcoinJake09 commented on #293
are you using grale and docker or? this is also a very old repo..

[2021-01-27 18:35] donthamon commented on #293
Use the marketplace

On Wed, Jan 27, 2021, 13:34 BitcoinJake09 <notifications@github.com> wrote:

[2021-01-27 18:36] donthamon commented on #293
https://github.com/donthamon/dockermarketplace

On Wed, Jan 27, 2021, 13:34 BitcoinJake09 <notifications@github.com> wrote:

[2021-01-28 18:18] donthamon opened #294 "Need the bat turned into a executable"
Install bat into exe

[2021-04-24 00:33] #250 closed

[2021-04-24 00:33] #251 closed

[2021-04-24 00:33] #252 closed

[2021-04-24 00:33] #253 closed

[2021-04-24 00:33] #254 closed

[2021-04-24 00:33] #255 closed

[2021-04-24 00:33] #259 closed

[2021-04-24 00:33] #260 closed

[2021-04-24 00:33] #261 closed

[2021-04-24 00:33] #262 closed

[2021-04-24 00:33] #264 closed

[2021-04-24 00:33] #265 closed

[2021-04-24 00:33] #266 closed

[2021-04-24 00:33] #268 closed

[2021-04-24 00:33] #272 closed

[2021-04-24 00:33] #273 closed

[2021-04-24 00:33] #274 closed

[2021-04-24 00:33] #275 closed

[2021-04-24 00:33] #277 closed

[2021-04-24 00:33] #279 closed

[2021-04-24 00:33] #280 closed

[2021-04-24 00:33] #284 closed

[2021-04-24 00:33] #285 closed

[2021-04-24 00:33] #289 closed

[2021-04-24 00:33] #294 closed

[2021-04-24 00:33] #208 closed

[2021-04-24 00:33] #238 closed

[2021-04-24 00:33] #240 closed

[2021-04-24 00:33] #243 closed

[2021-04-24 00:33] #247 closed

[2021-04-24 00:33] #248 closed

[2021-04-24 00:33] #249 closed

[2021-04-29 00:59] explodi opened #298 "Database backup system"
There should be a way for a server administrator to perform periodic "snapshots" of the redis rdb file. Snapshots could be uploaded to a s3-compatible object storage

[2021-04-29 01:01] BitcoinJake09 commented on #298
agreed, should be its own class file i feel. either the main BitQuest file can call it once a day or whatever or setup multiples and then the backup class can do its thing

could add extra compatibilities into the separate class also like add SQL export back into it or something..

[2021-04-29 01:02] explodi opened #299 "Support for btcd"
Support relaying transactions through a btcd node

[2021-04-29 01:04] BitcoinJake09 commented on #299
some RPC structures can be taken and modified from https://github.com/BitcoinJake09/SatoshiQuest if that helps
that worked with full nodes, but made a separate wallet for each user which ended up being a terrible idea do to the inability of the node to load multiple wallets at the same time in game.

[2021-05-02 21:19] explodi opened #302 "Support for dogecoin-core"

[2021-05-19 09:15] jcjms opened #303 "How can I compile and install the plugin correctly?"
Hey, I would like to install the BitQuest plugin on my Minecraft Bukkit server. But for that I have to compile it first. I tried Maven `mvn package` because I didn't know what `make -B jar` meant in the manual. This resulted in a .jar file which then did not work on the server (it issued error messages). I hope you can help me. Kind regards jcjms. Can you maybe do a short tutorial on setting up th

[2021-05-19 22:10] BitcoinJake09 commented on #303
you can compile with just maven but would still need environmental variables, the best way is to use docker/docker-compose
then you can do docker-compose build & docker-compose up
and if the docker-compose.yml file is all setup correctly then it should run..
keep in mind this plugin is experimental and is still in active development :D

[2021-05-24 15:19] explodi opened #304 "Tutorial for compiling and running a server"
It was suggested that a tutorial is created, with step by step instructions on how to build the plugin and run a server.

[2021-05-24 15:20] explodi commented on #303
I like the idea of a tutorial and I created issue #304.

Can you post yout output of the `make -B jar` command?

[2021-05-24 23:50] BitcoinJake09 commented on #303
i usually run:
mvn clean compile assembly:single

and it creates my jar in the target folder

[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  12.573 s

[2021-05-24 23:51] BitcoinJake09 commented on #303
the other thing with running BitQuest jar on your server, is it does need to have the environmental variables set, a node to connect to, and a database

[2021-06-06 10:51] explodi commented on #303
I think the best idea is to add a check for all the required environment variables and then fail with a helpful error message.

[2021-06-06 22:20] PillagerMC commented on #303
Paper 1.16.5 supported?

[2021-06-07 00:35] BitcoinJake09 commented on #303
im not familiar with paper, but BitQuest uses Bukkit, so i would assume no? but like i said not familiar with paper.
if paper supports bukkit, you should be able to run the compile BitQuest.jar if all environmental variables are set.

what would the benefit of paper be? why not just run spigot bukkit?

[2021-06-07 18:33] PillagerMC opened #305 "The server is shutting down due to a plugin error because the plugin is not connecting to something"
When the server starts with the plugin, it crashes after loading the world. It connects to localhost: 44555 and exits
[code]

[2021-06-07 18:33] PillagerMC commented on #305
Not working on Spigot and PaperMC

[2021-06-07 18:34] PillagerMC commented on #305
Is it redis?

[2021-06-07 18:54] BitcoinJake09 commented on #305
It does appear to be a redis issue

[2021-06-07 20:46] explodi commented on #303
Please create a new issue for this question.

[2021-06-07 20:49] explodi commented on #305
the server is not able to locate your node and it's trying to connect to: `http://localhost:44555` (the default port of the dogecoin testnet daemon)

[2021-06-07 22:47] BitcoinJake09 commented on #305
oh, Explodi correct, not redis issue, redis looks to have loaded fine from docker.
yeah PillagerMC you need a Dogecoin node or equivalent codebase fork.

[code]

[2021-06-13 11:44] explodi commented on #305
The plugin now sends a better error when this happens so it's easier to debug when creating a server.

[2021-06-13 11:44] #305 closed

[2021-06-13 11:56] #303 closed

[2021-06-13 11:56] #304 closed

[2021-06-27 16:04] #302 closed

[2021-07-18 14:48] explodi opened #306 "Experience from killing a mob with bow and arrow is broken"
Experience is only being awarded to kills with hand weapon

[2021-07-18 21:52] SatoshiSpinster opened #307 "Land I purchased purchased by someone else"
Approximately 8 hours ago I bought a chunk at spawn and named it SpinsterSpawn.  The sign was placed at x = 0 y = 11 and z = 0.  My balance reflected that 10 doge was spent on the property.  I remember the game confirming because I had forgot about adding the space between Spinster and Spawn.

When I logged on today my balance still reflected the 10 doge gone, but I no longer owned the chunk at 0,

[2021-07-18 21:54] SatoshiSpinster commented on #307
Sorry, it wasn't spinster spawn, it was SatoshiSpawn.

[2021-07-23 09:40] SatoshiSpinster opened #308 "Purchased land reverts to wilderness"
![2021-07-22_21 16 06](https://user-images.githubusercontent.com/87621183/126764422-f97e183f-5687-4efa-8a43-40bf1dc2276a.png)

Purchased more land, placed sign at -45  68  29.  At first it seemed to work fine.  Within a few hours it reverted to wilderness.

[2021-07-24 11:30] explodi commented on #308
There is a problem with purchasing land via signs. To correctly purchase land, please use the command:

[code]

All purchased lands with the `land` command are permanent, and purchasing via signs was disabled.

[2021-07-24 11:30] #308 closed

[2021-07-24 11:30] explodi commented on #307
Solved in #308

[2021-07-24 11:30] #307 closed

[2021-07-24 13:10] explodi opened #309 "Allow players to report Griefers"
Players should be able to report another user who is hacking or breaking the rules with a new command. The report sends a private message via Discord bot to the server admin

[2021-07-24 14:11] BitcoinJake09 opened #310 "Website - blogpost - readmore - broken link"
On the site the blog post about the new bq server coming the read more link is broken and directs to 404

[2021-07-29 23:22] williamronn opened #312 "Anvils on claims"
Make anvils to protected claims
Including all sorts of damages to anvil

[2021-12-10 15:34] ghost opened #313 "How to configure and compile for a bitcoin/litecoin fork?"

[2021-12-10 18:28] explodi commented on #313
The same instructions for bitcoin will probably work. Just set the environment variables to the host and port of your forked bitcoin node

[2021-12-10 18:28] #313 closed, assigned to nobody

[2021-12-11 06:41] ghost commented on #313
Hi, thanks for your reply.
Can you create a newbie guide about it? I'm searching for hours and can't find any tutorial on the web...

[2022-01-18 10:57] orb1152 opened #314 "Server Not Connecting (doge)"
the dogecoin server just says Disconnected